[2017-03-21 11:52] kolipka opened #7 "Not possible to configure kernel"
os/kernel/Kconfig loads:
[code]
both folders are not existing. It is not possible to call `make menuconfig `

[2017-03-22 11:20] sunghan-chang commented on #7
Hello kolipka.

Above codes were removed at commit dabbe21.

Thank you for notice.

Thanks
Sunghan

[2017-03-22 11:20] #7 closed

[2017-05-04 14:57] qdk0901 opened #63 "cannot boot after flash all"
Hi,
 I compile TizenRT for s5jt200 board and flash all binary into the board, but the board can't boot up after flashing, and the serial keep ouputing
`UUUUUUUUCB02000016061010170220100000001000000000000000000000FF00000000000000000000000000170B00019A9B51EFCB00098207F0030FC9C804069BBDF5B6FDD6C7F3ZZZZZZZZ`
 after reset

[2017-05-04 15:07] girishks2000 commented on #63
@qdk0901
This is because the binary is built with write protection enabled. So before you flash the binary please disable the write protection with "sudo ./openocd_linux64 -f disable_write_protect.cfg"
Later run the flash all script. it will work.

[2017-05-04 15:16] qdk0901 commented on #63
thanks very much， it works

[2017-05-04 15:47] #63 closed

[2017-05-15 13:18] JunhwanPark opened #92 "WIFI_TEST / LWM2M build error"
Hello,

I set the following to test wakaama in an external function. It is expected to be defined by WIFI_TEST. Do I need to add another defconfig? Or, are there any settings I need to enable for additional?

 * version:
[code]
 * branch: master
 * config: artik053/nettest
 * menuconfig:
   External Functions > DM > LWM2M_WAKAAMA
 * build error:
[code]

[2017-05-16 04:14] sinzah commented on #92
As I checked build configuration, wifi_test defconfig has
1023 CONFIG_DM_WIFI=y
1024 CONFIG_DM_AP_SSID="TizenRT1"
1025 CONFIG_DM_AP_PASS="tizenrt_tdc2017"
1026 CONFIG_DM_AP_SECURITY="wpa2_aes"

It should be configurable parameter but, there are no Kconfig including them.
Can we separate Kconfig wakaama from DM framework?

[2017-05-16 04:22] JunhwanPark commented on #92
@sinzah You are right.
@dr-venkman I think DM_xxx's define should be in example rather than defconfig. Otherwise, it should be in all defconfig. Did you develop WIFI_TEST? Can you check it?

[2017-05-16 04:26] dr-venkman commented on #92
@JunhwanPark The error-causing parameters are an integral part of DM (device management) configuration. I could add a #if defined check in source file to see whether these parameters are defined already. If they aren't, an #error statement should provide the necessary guidelines on how to set it up using menuconfig.

[2017-05-16 04:35] JunhwanPark commented on #92
@dr-venkman Yes, right. I do not see compile errors only when using `artik053/wifi_test`. If I use a different configuration, build errors should not occur.

[2017-05-16 04:55] dr-venkman commented on #92
@JunhwanPark if I add the #error with the check as mentioned above, you should see the message during build. This will be different from the undeclared variable error you have seen earlier.

[2017-05-16 05:46] dr-venkman commented on #92
Dear all,

I checked the bug above, reproducing it using the steps sinzah mentioned.

You have to select and edit the Kconfig  parameters for wifi config. These parameters are found under external/Kconfig file.

Anyhow, I will edit the s5j_dm_connectivity.c file to have the #error in place.

[2017-05-16 06:59] dr-venkman commented on #92
Dear all,

An update on the issue. We have decided to remove the #error statement, and instead enforce a default value of 'y' to the DM_WIFI config parameter. The config parameters will have default values, so unless you change them, you will most likely see a run-time error.

[2017-05-16 09:40] JunhwanPark commented on #92
I tested follow version. Build Success! So, I close it. Thanks.

[code]

[2017-05-16 09:40] #92 closed

[2017-05-23 05:30] cooldo opened #118 "If I want to add a file into tizenRT filesystem, which directory should I put the file in? Thank you."

[2017-05-25 05:30] sunghan-chang commented on #118
I am sorry for delayed response. Which file or module do you want to add? Due to absence of engineer in charge of file system, we can give an answer this at tomorrow.

[2017-05-27 02:43] cooldo commented on #118
I am very appreicate your response. :)  thank you very much.
I just want to add a common file to the tizenRT file system.
for example, I create a file named test.txt in my linux system.  and I want to put this file in tizenRT filesystem.
I don't know which directory I should put this file in,  and then after I compile and burn tizenRT in aritk053, this test.txt can be seen in the file system.
Than

[2017-05-30 08:24] Taejun-Kwon commented on #118
Hi cooldo,
I guess you want use pre-built file, am I right?
Currently TizenRT supports romfs for other boards, but we have to add some codes for ARTIK053.
We will update it soon.
Also we considering fusing tool to add contents inside of smartfs.

[2017-05-31 01:19] cooldo commented on #118
Yes,  you are right.
When you have the solution for my requirements, would you please share this information to me? Thank you

[2017-05-31 03:16] qdk0901 opened #142 "Can I flash the binary through UART?"
Hi,
  Is there anyway to flash the binary with UART? Just like esp8266 or esp32，it can flash binary with openocd through JTAG interface, and it can also flash binary through UART interface. Is there any chance that s5jt200 can flash bianry through UART? Thank you.

[2017-05-31 03:40] sunghan-chang commented on #142
Hello.

No, you can not flash (program) a binary through UART in sidk_s5jt200 board.
Manufacturer of sidk_s5jt200 is not supporting.

Thank you.

[2017-05-31 04:38] heesub commented on #142
S5JT200 does not support it. Its ROM code only supports to boot from external flash.

If you want to flash SPI flash through UART, then 'loady', 'loadx', or 'loadb' commands supported by the second level bootloader could be an alternative. Press any key immediately after power-on. Then, U-BOOT shell will appear and you may use them to download binaries on the flash. Please refer to the partition l

[2017-05-31 05:58] DeseDad opened #143 "How to build IoTivity in '/external/iotivity'?"
I found there are IoTivity code in '/external/iotivity' but it is not built even if I enabled it.
How can I build iotivity?

[2017-05-31 06:05] lssgood commented on #143
That's an old version of IoTivity. We'll upload the latest verion by this Friday.
And We'll provide a basic guideline to build it.

[2017-05-31 06:23] DeseDad commented on #143
Thanks  a lot

[2017-06-02 01:32] JunhwanPark commented on #143
I also wanted to know this. I am expecting an update today.

[2017-06-02 03:40] Taejun-Kwon commented on #118
Sure,
I will update comment here, Thanks.

[2017-06-06 08:38] laralijuan opened #159 "How to understand the pre-built configs for artik053?"
There are several provided configs under build/configs/artik053 with different pre-built configurations.
I am confused that what are their purpose? Why not provide one default config with support the artik053's all the HW features for end user?

Thanks very much ahead for your help~

[2017-06-07 01:02] DeseDad commented on #143
Is there any update?

[2017-06-07 06:54] JunhwanPark commented on #159
Hi @laralijuan
* tash : for HW feature test
* nettest : tash + network feature test
* extera/typical/minimal : not use for customer. We are not recommand use it.

In my opinion, developers who originally purchased the ARTIK053 board should use nettest. Basic network functions and HW functions are enabled.
You can make your own preferences using menuconfig. For more information on menuconfig see:
h

[2017-06-07 07:30] lssgood commented on #143
@DeseDad You can check the PR-#155. Now, we're on the internal review process. After we're done with the review, we'll merge it.

[2017-06-08 05:37] laralijuan commented on #159
Thanks your explanations @JunhwanPark
And a further question: As artik053 supports fixed features，is it possible to provide a “biggest” config which contains all the features that the artik053 supports. So for the user doesn't need to identify the difference between the multi configs. Is this idea resonable?

[2017-06-08 05:46] sunghan-chang commented on #142
If you don't have any question, let's close it.

[2017-06-08 06:07] #142 closed

[2017-06-08 06:49] JunhwanPark commented on #159
I appreciate your interest. @laralijuan

We thought there might be people who do not need networking. So we distinguished between 'nettest' and 'tash'. Like your opinion, developers may feel uncomfortable about this. But we wanted to use them differently if they were the developers who bought this board.

The policy for config will talk a bit more inside the team. Thanks for the good feedback.

[2017-06-12 09:17] lssgood commented on #143
@DeseDad We merged it. If you don't have any more questions, please close this issue. Thanks.

[2017-06-13 01:12] DeseDad commented on #143
Thanks a lot

[2017-06-13 01:12] #143 closed

[2017-06-13 02:07] lssgood commented on #143
@DeseDad If you use iotivity build config(os/tools/.configure.sh artik053/iotivity), you can see 'simpleServer' TASH COMMAND to run the basic iotivity server.
Since we didn't include the tinycbor lib in the extlibs folder, it causes build error. We'll fix it.

[2017-06-13 04:05] #159 closed

[2017-06-13 04:07] laralijuan commented on #159
If any further info, please share them here. Thanks ~

[2017-06-13 11:41] JunhwanPark opened #186 "iotivity some questions"
I have compiled iotivity.

The version I tested was:
[code]

I used config as `artik053/iotivity`.

1) Every time I make iotivity, I see that I always create new object files. Is this correct?
2) After make clean, I saw some object files. After clean, I think all object files should be deleted.
[code]
3) There is an unnecessary content after the build. Delete or add gitignore.
[code]
4) When build

[2017-06-13 11:59] sunghan-chang commented on #186
@lssgood @heejin-kim Please check this issue.
@JunhwanPark Thank you for sharing issue.

[2017-06-14 08:11] kolipka opened #195 "fail-fast rule violation and developer unfriendly environment"
TizenRT is not convenient for developers. There is common pattern that in case of missing configuration flag fakes API:
https://github.com/Samsung/TizenRT/blob/master/framework/src/iotbus/iotbus_spi.c#L171

As a result, newcommer instead of getting error during compile time, have to compile, flash, execute code to get information that something is wrong. Usually it will be NULL from open function

[2017-06-14 08:51] heejin-kim commented on #186
I think in process of changing examples location(external/iotivity/apps to apps/examples), some issues caused. I'm going over thoes code, then I will commit soon.

[2017-06-14 11:51] tadziopazur opened #196 "Tools/examples not available despite being configured"
Configuring an example/tool/system command results in the relevant function being compiled int the TizenRT binary, nothing more.

For some functions it might be enough, for most it isn't. All functions of the proto:
int function(int argc, const char **argv)
make little sense if they are not available through the built-in shell (nsh/tash).
There should be a way (other than adding some code to regis

[2017-06-14 12:16] tadziopazur opened #197 "up_i2cuninitialize symbol missing"
The up_i2cuninitialize function is required by i2c tool, that is in the source tree, i.e.:
https://github.com/Samsung/TizenRT/blob/master/apps/system/i2c/i2c_bus.c#L105
and other files in the same directory.

[2017-06-14 15:11] pmarcinkiew commented on #197
Could you look at this PR?

https://github.com/Samsung/TizenRT/pull/134

[2017-06-15 01:06] JeongJunSik commented on #195
I think your opinion is right.
However, developers may want to reuse code on multiple platforms without compilation errors.
We need to discuss this internally.

[2017-06-16 10:00] sunghan-chang commented on #196
Hello @tadziopazur .
Does "configuring an example/tool/system" mean executing ./configure.sh?
I am sorry but I don't know what you want exactly.

1. If you want to enable and execute example or tool or system.
enable them through menuconfig and set them as entry (CONFIG_USER_ENTRYPOINT)

2. If you want to add them as TASH command,
use [builtin function](https://github.com/Samsung/TizenRT/blob/mast

[2017-06-16 10:06] sunghan-chang commented on #196
The list of configuration by executing configure.sh is getting default configurations set. That is just a one example (This does not mean apps/examples). We can not provide all of set for examples, systems and tools. Get one default configurations set and modify it as you want.

[2017-06-16 10:14] sunghan-chang commented on #197
Hello @tadziopazur .

Did you meet compilation error?
Could you let us know which configuration you use?

[2017-06-16 10:49] kolipka opened #202 "SPI LSB/MSB API feature broken"
SPI allows sending data with LSB / MSB feature(_iotbus_spi_s->lsb). This is set here:
https://github.com/Samsung/TizenRT/blob/master/framework/src/iotbus/iotbus_spi.c#L94
but not handled properly:
https://github.com/Samsung/TizenRT/blob/master/os/arch/arm/src/s5j/s5j_spi.c#L351.
As a result board crash. This is a bug.

[2017-06-20 13:36] JunhwanPark commented on #186
3. There is an unnecessary content after the build. Delete or add gitignore.
[code]

[2017-06-20 14:23] tadziopazur commented on #197
[Configuration file](https://github.com/tadziopazur/TizenRT/blob/i2ctool_build_failure/build/configs/artik053/dot_i2ctool_defconfig)

Set up with:
[code]

Build
[code]

The last lines of the output:

[2017-06-20 14:27] tadziopazur commented on #197
I have a workaround the problem in our application code:
[code]
but that's just a workaround..

[2017-06-20 14:30] girishks2000 commented on #197
@tadziopazur
  If its just a work around no issue. But please don't merge this work around. This will break protect build configuration

[2017-06-21 12:43] tadziopazur commented on #197
Around no issue. What should I make out of it -- are you trying to say it has been fixed by now, or that it is not an issue at all that there is an app in the tree that cannot be built?
Or something else?

[2017-06-25 01:04] iangcarroll opened #212 "ISP driver errors"
Hi,

I'm trying to use the ISP driver in TizenRT on the Artik 053 but am hitting some errors. For example, `isp_write_storage` returns `ERROR_SSTORAGE_SFS_FWRITE`:
[code]

`ERROR_SSTORAGE_SFS_FWRITE` is also returned with `isp_aes_generate_key_securekey`:
[code]

There's no documentation so I don't know if I'm supposed to initialize anything.

[2017-06-26 04:03] joohwani-kim commented on #212
Current, we are not supporting secure storage. It is necessary to mount the file system for secure storage.
And, I don't recommend access to isp driver directly.
We are supporting through os/net/tls/see_api.c file.

[2017-06-27 02:21] JeongJunSik commented on #202
The person in charge is checking this issue.

[2017-06-28 13:19] kolipka commented on #118
@cooldo I made simple fix. ROM support is already in TizenRT, but it was not used.
https://github.com/Samsung/TizenRT/pull/237
You can find simple instruction there how to repartition Artik053 to have small ROM partition. You can also check how auto mounting is done in /mnt case and add similar mechanism.

[2017-07-12 11:26] awlodarczyk-s opened #271 "Iotivity simpleServer hangs up artik board"
Hello!
I encountered an issue with iotivity on TizenRT.
Exemplary iotivity server *simpleServer* hangs up artik board.
I started *simpleServer* on artik053. After this, there was no ping response from artik.
Version used: 54cabf8f57166db89d760855b99497ca202ea71a
Configuration: artik053/iotivity

[2017-07-13 11:31] daeyeon opened #272 "Romfs is not yet supported"
Romfs seems not supported yet. Can anyone let me know the status?

[2017-07-13 21:35] tadziopazur opened #273 "shutdown provided twice"
Both
os/net/socket/bsd_socket_api.c
lib/libc/net/lib_shutdown.c
provide "int shutdown(int, int)"
under CONFIG_NET flag.

lib/libc/net/lib_shutdown.c has the function gated by CONFIG_SUTOM_SOCKETS flag.
The implementation is empty.

What is this for?
What is the flag - I could not find it anywhere in the TizenRT sources?

The end result is for me that linking fails due to duplicate symbol.

[2017-07-14 01:59] sunghan-chang commented on #272
ARTIK053 supports, SIDK is under internal reviewing.
Please refer #118 for ARTIK053.

[2017-07-14 04:12] pillip8282 commented on #273
The config parameter you mention should be CONFIG_CUSTOM_SOCKETS,. The apparent typo explains why we have a duplicate symbol in the first place.
Regardless, I think  we do not plan to support shutwodn in libc/net/lib_shutdown.c, as we handle the functionality from bsd_socket_api.c.

[2017-07-14 05:38] daeyeon commented on #272
Although ROMFS itself is supported, I still feel inconvenient to use it. I need to manually set up the steps 4,5, and 6 as described in https://github.com/Samsung/TizenRT/pull/237. That's a troublesome that affects work speed. Do you have any plan or progress to resolve this difficulty?

[2017-07-14 06:05] sunghan-chang commented on #272
No, we don't have. That sequence is designed by manufactorer. It is difficult to modify by us.

[2017-07-14 06:08] sunghan-chang commented on #118
@cooldo Do you have additional question for this? If you don't, let's close this issue.

[2017-07-14 06:08] sunghan-chang commented on #212
@iangcarroll Do you have additional question for this? If you don't, let's close this issue.

[2017-07-14 08:01] heejin-kim commented on #271
Hello.
Such a phenomenon has never happened. Also without log, I cannot advise..

Check out those things.
1. Follow test steps. Refer to https://github.com/Samsung/TizenRT/tree/master/apps/examples/iotivity_simpleserver
2. Did you connect Wi-Fi working well?(Server side/ artik053)
3. What command did you typed in Client(Linux) side? ex. ./occlient -t 1

If the same thing happens again, please send

[2017-07-14 10:38] tadziopazur commented on #273
Posted a PR #276

[2017-07-14 11:18] sunghan-chang commented on #273
Your changes are merged. Let's close this issue. Thank you.

[2017-07-14 13:30] awlodarczyk-s commented on #271
Hi.
Actually thinks unexpectedly changed (without any known change in my setup???). Currently *simpleServer* starts successfully then goes through *Discovery* process successfully, but can’t withstand  *“Nonconfirmable Get Request”* from client. The second causes crash with core dump on artik053. The core dump shows that stack of *iotivity_simpleserver* and stack of *IoT_Retransmit* reached its li

[2017-07-15 04:07] iangcarroll commented on #212
Is it possible to document how to mount the secure storage file system? The Artik module prominently mentions the security features built into the chip and it'd be helpful to be able to use them.

[2017-07-16 20:34] lucaing80 opened #279 "pthread_cond_broadcast + pthread_cond_wait BROKEN"
PThread conditional variables do not work: I was unable to create a working producer / consumerS paradigm without a deadlock. The same code works perfectly on Linux.

Example:

	// Global variables:
	pthread_mutex_t mut;
	pthread_cond_t cond;

	pthread_t producer_th, consumer1_th, consumer2_th;
	char sndbuf[30];

	// Thread functions:
	void *consumer1_threadfunc(void *par)
	{
		char locbuf[30];

[2017-07-16 23:47] jeongchanKim commented on #279
I tested with your code, but it seems like working well.
If it is not correct what you expected, please explain your problem.

Thanks.

The below is the log for your test code.(I testet until DATUM 100)
-----------------------------------------------------------
TASH>>> Sending: DATUM 1          0
CONSUMER1 START
CONSUMER2 START

CONSUMER1: DATUM 2      15407
CONSUMER2: DATUM 2      15407

CONSUME

[2017-07-17 01:51] sunghan-chang commented on #186
@JunhwanPark We merged a change to remove un-removed objects through outside Makefile of iotivity. It is not an appropriate method. But we have a plan to update Iotivity so that we will check this with that.

[2017-07-17 01:57] JunhwanPark commented on #186
@sunghan-chang  Yes! I know. I was always monitoring. :) I think maybe everyone was worried and got the results. Everybody did their best.
Perhaps other questions I would like to know will be solved in a new version. Right? I'm very excited about Iotivity 1.3. Thanks.

[2017-07-17 05:09] joohwani-kim commented on #212
Sorry, we can not provide it in advance.
We will have a release plan for secure storage after internal check.
I recommend to use it after next version release.

[2017-07-17 07:16] JunhwanPark commented on #202
@JeongJunSik In the SPI of artik053 and sidk_s5jt200, there is no part where LSB and MSB can be set. Iotbus_spi needs to be modified.

[2017-07-17 07:35] JeongJunSik commented on #202
OK. we need to remove it of iotbus_spi API.
I'll upload it after i make changes.

[2017-07-17 08:26] JeongJunSik commented on #202
It was reflected in #286
If you do not have any more questions, please close this issue.

[2017-07-17 09:00] kolipka commented on #202
Well, in my opinion this is quite basic feature of SPI interface and should be implemented. It is relatively easy to make at the software level - you just [need to change bit order](https://stackoverflow.com/questions/746171/best-algorithm-for-bit-reversal-from-msb-lsb-to-lsb-msb-in-c). I think it would be better to implement it in TizenRT than implement workarounds in each external application fo

[2017-07-17 15:28] #273 closed

[2017-07-17 15:42] tadziopazur opened #290 "What is the automated way to build release|debug from a single config?"
In nuttx, the flag is R: one wants to build release, they invoke:
nuttx/os$ make R=1
or
nuttx/os$ make R=0

In TizenRT config system (Kconfig files, seen thru menuconfig make target) there are several flags, including:
DEBUG_SYMBOLS  DEBUG_FULLOPT  DEBUG_NOOPT  DEBUG_CUSTOM.
Some of them are not used in the build process (DEBUG_FULLOPT is not used at all).
The sources are built using ARCHOPTIMIZAT

[2017-07-17 17:01] lucaing80 commented on #279
Here's the log I get on Artik053 module running TizenRT with the exact example I provided you:

	U-Boot 2017.01-00065-g11a594a84763 (May 04 2017 - 21:26:44 +0900)

	CPU:   Exynos200 @ 320 MHz
	Model: ARTIK-053 based on Exynos T20
	DRAM:  722 KiB
	WARNING: Caches not enabled
	BL1 released at 2017-3-13 15:00
	Flash: 8 MiB
	*** Warning - bad CRC, using default environment

	In:    serial@80180000
	Ou

[2017-07-18 04:06] jeongchanKim commented on #279
I tested with the latest code with artik053.
I modify the hello app with artik053/tash config.
I tested again, but it works well also...
(tested with this commit : commit 2da20e67ea50b027715eb0c6a0eaaa04c2c46708)

[2017-07-18 05:38] lucaing80 commented on #279
Is there an official build I can test which does not exhibit the problem I'm experiencing? I don't want to rebuild TizenRT from sources.‎In any case I can provide you my e-mail (l.giuliani@gmail.com) so that you can contact me directly to remotely connect to my PC and see the problem live or to have Artik support center get in touch with me.

[2017-07-18 07:45] jeongchanKim commented on #279
Uhmm...
I don't know why you test with old version.
It is not easy for supporting your problem, because there is no issue on latest version.

[2017-07-19 08:15] sunghan-chang commented on #290
We have a plan to support that functionality but not now.

[2017-07-19 10:25] heejin-kim commented on #271
If it caused due to the stack size, you can change those things in menuconfig.

1. IoT_Retransmit thread
~/TizenRT/os$ make menuconfig

Default pthread stack size for the **retransmission pthread**

2. iotivity_simpleserver thread
We did not support a config patameter for this stack. So please change the code.
~/TizenRT/apps/examples/iotivitysimpleserver/simpleServer.c
# define **IOTIVITY_TEST_STA

[2017-07-24 10:58] cooldo commented on #118
Thank you very much.

[2017-07-24 10:58] #118 closed

[2017-07-25 20:23] pmarcinkiew opened #316 "GDB debugging fails for TizenRT/Artik053"
I would like to debug TizenRT using GBD and OpenOCD. It fails for me. I compiled application demo and TASH is working over UART but debugging with GDB fails.

I started OpenOCD server using configuration from TizenRT repo:
[code]
When I connect using GDB:
[code]

I get output:
[code]
All commands for GDB return errors or zeros.

My full GDB log:

[code]

My Full OpenOCD log:
[code]

[2017-07-26 06:35] JunhwanPark opened #317 "'date' command does not work"
Hello.

When I enable 'CONFIG_LIBC_LOCALTIME' option in menuconfig, 'date' command does not work.
I am trying to change the date and time using 'date -s'. However, it is always fixed at 1970. It must be disabled by 'CONFIG_LIBC_LOCALTIME'. Is this normal?

[2017-07-26 11:24] kolipka opened #320 "TizenRT does not support relative path for stat"
in [fs_stat.c](https://github.com/Samsung/TizenRT/blob/master/os/fs/vfs/fs_stat.c#L191) there is reference to [inode_find](https://github.com/Samsung/TizenRT/blob/master/os/fs/inode/fs_inodefind.c#L93) that checks does path starts from '/'.
It was [fixed](https://bitbucket.org/nuttx/nuttx/src/c9ff8cbab94cff6fd69b0a7106eb5ea1ca54a6ff/fs/inode/fs_inodefind.c?at=master&fileviewer=file-view-default) i

[2017-07-27 18:31] tadziopazur opened #322 "I2C read does not work on Artik053"
I have some questions regarding I2C implementation on Artik.

1. Why does read fail to generate a correct I2C transaction? What can I do to fix it?
2. The i2c driver does not finish the transaction when there is a write of 1 (one) byte. Why?
How are devices that do not have registers (i.e.: pcf8574) supposed to be handled?
3. The I2C signals driven by artik053 devkit rise slowly. Is it relevant to

[2017-07-30 09:13] pmarcinkiew commented on #322
Please double check if your probe compensation is valid.

![tektronix_probe_compensation](https://user-images.githubusercontent.com/25076906/28752104-ea91d42a-7517-11e7-8792-60616a946cd7.png)

See Tektronix manual for reference:
https://neurophysics.ucsd.edu/Manuals/Tektronix/TDS%201000B%20and%20TDS%202000B%20Manual.pdf

[2017-07-30 11:52] tadziopazur commented on #322
The probe is rated at 200MHz, 10MOhm, <12pF. I checked it at the 1kHz supplied by the scope, it looked good.
I think the signal (400kHz square waveform) is within the operating range of the scope (+probes).
Still I am not sure why these slopes rise so slowly, nor do I know if that affects the I2C communication.
It does not look like the communication is affected (at least not with Arduino Uno on t

[2017-07-31 05:31] sunghan-chang commented on #279
@lucaing80 I am sorry, but it is difficult to support old version. Do you have additional question? If you don't, let's close this.

[2017-07-31 05:46] sunghan-chang commented on #272
@daeyeon Please check README on doc folder for ROMFS. For SIDK, you don't need to do step 4,5 and 6 like ARTIK053. But for ARTIK053, those are needed. And we don't have a plan to modify them. If you don't have additional query, let's close this.

[2017-07-31 05:48] sunghan-chang commented on #271
@awlodarczyk-s is this solved by modifying stack size? If you don't have additional question, let's close this.

[2017-07-31 08:06] awlodarczyk-s commented on #271
Unfortunately modification of stack size does not fix the issue.

[2017-07-31 11:24] jhunahn commented on #316
Hello, pmarcinkiew.

I checked your logs. I think openocd failed to reset the device.
Would you like force reset the device using GDB?
following as:
[code]

I expect the device to reset by JTAG. After reset the device, load the elf image agian.
(**You must enter the absolute path.**)
[code]

And then, try run.
[code]

My GDB log is Follow as:
[code]

Your feedback would be greatly appreciated.
Bes

[2017-08-01 02:25] cooldo opened #329 "Does tizenrt support command "cpuinfo", or some other command such as "cpuinfo"?"

[2017-08-01 02:26] cooldo commented on #329
I want to get the cpu information by command line.
How can I get this information?
Thank you very much.
Your response will be deeply thanks.

[2017-08-01 03:28] jeongarmy commented on #329
I don't know what cpu information means exactly?
you mean /proc/cpuinfo which show somethings like model name, processor in linux?
Please let me know what you want to know using this command exactly and why.

[2017-08-01 08:52] cooldo commented on #329
Thank you very much for your response.
We want to use the command such as linux "top", to print the cpu usage of each process.
we are designing "system log" IDE,  our purpose is to capture the system log from "tash", and display into our IDE graphicly.
Thank you very much.

[2017-08-01 10:47] jeongarmy commented on #329
I'm sorry that we don't support that function now.
But you can get them from proc file system.
You can get cpu usage of each process by reading /proc/[pid]/loadavg.
We will consider whether to support command like top in linux or not.

[2017-08-01 11:03] cooldo commented on #329
Thank you very much, it is very helpful.

[2017-08-01 11:03] #329 closed

[2017-08-02 05:59] heejin-kim commented on #186
1.Every time I make iotivity, I see that I always create new object files. Is this correct?
- Correct.
2.After make clean, I saw some object files. After clean, I think all object files should be deleted
- Solved.
3.There is an unnecessary content after the build. Delete or add gitignore.
- Solved.
4.When building iotivity, I see a lot of 'warning'. Why do not you remove all the errors by adding t

[2017-08-02 06:14] heejin-kim commented on #271
We cannot help you unless you give us more information. Attach the log file.
Also we did not reproduce the situation. I think it is better to debug using GDB in your PC.

[2017-08-02 07:14] JunhwanPark commented on #186
Hi @heejin-kim
I just updated the source. This is the version I used.
[code]

1. What I was wondering was why the object file was already created and why it was re-created. Other files in TizenRT are not. Only iotivity files are always creating new objects. This greatly increases build time. Maybe it is a policy issue of iotivity.

2. OK. I tested.

3. I use 'artik053/iotivity'. After compiling, I

[2017-08-03 00:38] JunhwanPark commented on #186
Most of the questions about iotivity were solved. So I close this issue.

[2017-08-03 00:38] #186 closed

[2017-08-03 05:25] junmin-kim commented on #317
I found that there are some issues in timezone setting.
After I fix these problem, I'll inform to you.

[2017-08-03 06:40] JunhwanPark opened #344 "when I 'LIB_SYSCALL' enable, meet build error."
I downloaded the latest version.
If you enable 'System Call' in menuconfig and compile, a build error occurs.
(Same as enabling CONFIG_LIBC_SYSCALL).

[code]

[2017-08-03 06:42] JunhwanPark commented on #317
@junmin-kim
I'll wait for your patch.
Thank you.

[2017-08-03 09:38] pmarcinkiew opened #346 "Boot fails for artik053/tash compiled with GCC 5.4"
When I compile TizenRT with config artik053/tash it fails during boot with abort.

This is my boot log
[code]

[2017-08-03 09:39] pmarcinkiew commented on #346
Fix prepared by Jarosław Pelczar: https://github.com/Samsung/TizenRT/pull/347

[2017-08-03 15:13] rzr opened #348 "Missing tinyara headers"
Hi,
I just had a quick look at TizenRT, and noticed that some included headers are missing, either they should be added or codebase should be cleaned.

Here a list of non available included headers:

[code]

Some are in TizenRT/os/include/ (ie: errno.h) while others are just gone (ie: automount.h) also some symbols are unresolved (ie: arp_out).

Any hints are welcome.

[2017-08-07 00:18] sunghan-chang commented on #348
@rzr Thank you for notice.
We will clean them.

[2017-08-07 04:15] sunghan-chang commented on #346
@pmarcinkiew Thank you for contibuting. Your pull request was merged. Let's close this.

[2017-08-07 04:16] sunghan-chang commented on #344
@JunhwanPark I am sorry for delay. Do you enable protected build also? Without protected build, syscall is not needed.

[2017-08-07 04:18] sunghan-chang commented on #316
@pmarcinkiew Is this enough answer for you? If it is, let's close this.

[2017-08-07 04:19] sunghan-chang commented on #279
@lucaing80 There is no conversation for this. I am closing this. If you have additional question, please reopen. Thank you.

[2017-08-07 04:19] #279 closed

[2017-08-07 04:19] #272 closed

[2017-08-07 04:51] JunhwanPark commented on #344
@sunghan-chang OK. I also enable CONFIG_BUILD_PROTECTED. But I met also build error. Does TizenRT officially support 'Protect Mode'?

[2017-08-09 06:14] sunghan-chang commented on #344
@JunhwanPark Not yet. To use protected build, we should add more files, like up_userspace.c.

[2017-08-09 06:16] sunghan-chang commented on #344
@JunhwanPark It worked well before. But after merging DS pull reqeust, some files are removed and some setting like MPU was changed. So, it is not supported now.

[2017-08-09 06:59] JunhwanPark commented on #344
@sunghan-chang
Thank you for reply.

Really??
I reset initial version.

[code]
And, I built it. But, also I met compile error.
[code]
Can you tell me when I need to check the version?

[2017-08-09 08:22] sunghan-chang commented on #344
@JunhwanPark Internally we had, not in here.
Anyway currently we don't support the protected build so that we don't need to use syscall either.

[2017-08-09 08:23] JunhwanPark commented on #344
@sunghan-chang OK. I see.
Thanks for information.

[2017-08-09 08:23] #344 closed

[2017-08-09 08:35] sunghan-chang commented on #290
@tadziopazur I can not find R option on nuttx Makefile. Only V treated. Could you tell me where do you find it?

[2017-08-10 06:04] sunghan-chang commented on #348
@rzr All of header files which we can modify are fixed by #367, #364 and #359.
Some are removed, some are added. Do you have any query?

[2017-08-10 10:07] #346 closed

[2017-08-10 10:08] sunghan-chang commented on #271
@awlodarczyk-s Could you share your status?

[2017-08-10 10:46] rzr commented on #348
I can also remove lcd part until it is fixed,  and then I will make a check and close this bug would this help?

[2017-08-10 10:55] sunghan-chang commented on #348
sure.

[2017-08-11 15:00] pmarcinkiew opened #397 "Missing stddef.h in iotbus_spi.h"
The SPI IoTBus header:
https://github.com/Samsung/TizenRT/blob/master/framework/include/iotbus/iotbus_spi.h

It is missing definition for size_t header _stddef.h_. It requires developer to include _stdlib.h_ or _stddef.h_.

Please see our travis build log for reference:

https://travis-ci.org/Samsung/iotjs/jobs/263522465

I can modify iotbus_spi.h to include missing headers.

What is your opinion

[2017-08-14 08:20] sunghan-chang commented on #397
@pmarcinkiew Thank you for notice problem.
*<sys/types.h>* should be included for *size_t*. But in iotbus_spi.c includes stdlib.h which includes sys/types.h. So, it does not show any compilation error. (Actually this is wrong, so we will fix it)
Do you include iotbus_spi.h on your source codes?

[2017-08-14 09:09] sunghan-chang commented on #397
Please refer #401 .

[2017-08-17 09:37] manoharahk opened #423 "Which Kconfig has the entry of "NET_LWIP_DHCPC" ?"
https://github.com/Samsung/TizenRT/blob/d8b91b34e2ce2fc8b42644806c27bb39c2446ac2/apps/examples/wakaama_client/wakaama_client.c#L45

[2017-08-17 10:27] kolipka opened #424 "LWIP-socket invalid error mapping"
There is error mapping table: https://github.com/Samsung/TizenRT/blob/master/os/net/lwip/src/api/sockets.c#L169
eg.: ERR_CLSD is -12 (https://github.com/Samsung/TizenRT/blob/master/os/include/net/lwip/err.h#L84) but here it is expected to be -14
This is quite critical error! LWIP reporting ERR_CLSD and TizenRT client code get ECONNABORTED.

[2017-08-18 03:35] sunghan-chang commented on #397
@pmarcinkiew #401 was merged. If you don't have any additional question, let's close this.

[2017-08-18 06:09] kolipka opened #425 "LWIP issue on EOF"
in line https://github.com/Samsung/TizenRT/blob/master/os/net/lwip/src/api/sockets.c#L703 ERR_CLSD is considered a normal operation - peer send EOF, so will not send any more data but it does not close connection and waits for response. But at the same time conn->last_err is set to ERR_CLSD. This is considered as a fatal as per ERR_IS_FATAL macro and prevent [do_write](https://github.com/Samsung/T

[2017-08-18 06:12] kolipka commented on #425
BTW: TizenRT have 5 year old LWIP 1.4, most recent is LWIP 2 and it seems that it does not suffer from this issue

[2017-08-18 10:19] kolipka opened #427 "LWIP problem with tcp_listen_with_backlog in case of address reuse"
If address is in use, [tcp_listen_with_backlog](https://github.com/Samsung/TizenRT/blob/master/os/net/lwip/src/core/tcp.c#L543) will return null, exactly the same with case of out of memory.
Later on result will be checked in [do_listen](https://github.com/Samsung/TizenRT/blob/master/os/net/lwip/src/api/api_msg.c#L1080) and ERR_MEM error will be returned instead of ERR_USE.

Suggested resolution:

[2017-08-18 10:39] sinzah commented on #423
As I knew, there are no entry to configure NET_LWIP_DHCPC.
CONFIG_NETUTILS_DHCPC is used to dhcp client instead lwip dhcp

[2017-08-21 01:49] pillip8282 commented on #423
Yes he is right. TizenRT doesn't use CONFIG_NETUTILS_DHCPC anymore.

[2017-08-22 19:26] marcinsmsg commented on #316
I've tried to reset Artik using hard reset and load symbols. However, gdb is not able to resolve any symbols.

OpenOCD log:
[code]
GDB log:
[code]

[2017-08-22 20:33] pmarcinkiew opened #441 "Flashing with "make download ALL" fails for Artik 053"
I compiled TizenRT for Artik053 at fresh installed Ubuntu with dependencies installed. It fails to flash Artik053 board with OpenOCD error when make download ALL is executed.

This log is very similar to issue described at artil.io:

https://developer.artik.io/forums/t/how-to-do-onboarding-with-artik053-board/3122

There is not solution described in artik.io or any mention is Tizen RT source code

[2017-08-22 21:08] pmarcinkiew commented on #316
I tried to load symbols from tinyara binary into separate instance of GDB:
[code]
I can load symbols into one instance of GDB and connect to OpenOCD with another one, but still I can't setup working break point. When I try to use stepi to debug what happen when iotjs command is executed I fail to have break point triggered.

It is clear that any valid debugging is still not possible with the lates

[2017-08-22 21:12] pmarcinkiew commented on #441
I found usb configuration file for Artik 053, which works for my Ubuntu:

[code]

Please consider extending your very good and helpful documentation with one more details about this configuration issue.

[2017-08-23 10:06] sunghan-chang commented on #441
@pmarcinkiew Thank you for giving opinion.
Even though we have this internally, because this is optional, we didn't add this at document.
As you said, this can be helpful. So added #442 .

[2017-08-23 10:30] junmin-kim commented on #317
We merged this commit #365

[2017-08-23 11:05] JunhwanPark commented on #317
Hi @junmin-kim , @thapav ,
Thanks for implementing it. I updated to the latest source.
I set it to `artik053/nettest` and enabled only `CONFIG_LIBC_LOCALTIME`. And I tested it like this:
[code]
But I did not get the result I wanted.
[code]
And the user must set all day of week, day of year, and daylight saving time?
This is so confusing.

[2017-08-23 11:14] JunhwanPark commented on #317
I tested it simply. How about calculating this in the kernel? I want to know your thoughts.

[code]

[2017-08-24 04:53] JunhwanPark commented on #317
@thapav
I tested it with 'usage'. Is it wrong? Let me know the exact usage.

[2017-08-24 05:53] JunhwanPark commented on #317
@thapav
I have tested it as follows. In my opinion, you only need to change 'usage'. I'll close this issue.
[code]

[2017-08-24 05:53] #317 closed

[2017-08-24 07:47] jhunahn commented on #316
Hello, pmarcinkiew.

Did you include debug symbol when build tizenrt?
You can check it as following as:

[code]
If you can see each section of ".debug*", the binary already include debug symbols.
But, in the other case, you should be enable the debug symbols using menuconfig.
[code]

Please try to build tizenrt after select debug option.

[code]

finally, my logs is fallowing as:

1. execute of op

[2017-08-28 03:24] #271 closed

[2017-08-28 04:27] #397 closed

[2017-08-28 04:27] sunghan-chang commented on #348
Hello @rzr .
Is there any additional change?

[2017-08-28 04:28] sunghan-chang commented on #290
@tadziopazur

[2017-08-28 04:28] #290 closed

[2017-08-28 04:30] sunghan-chang commented on #441
@pmarcinkiew If you don't have any additional query, I will close this at wednesday.

[2017-08-28 09:09] iamsanjeev opened #451 "Artik Demo Example LD Error"
configure.sh artik053/iotivity
make menuconfig -> choose "Artik Demo Examples from Application Configuration Menu"

LD: tinyara
$HOME/tizenrt/TizenRT/os/../build/output/libraries/libapps.a(artik_demo.o): In function `wifiAutoConnectInit':
$HOME/tizenrt/TizenRT/apps/examples/artik_demo/artik_demo.c:273: undefined reference to `dm_conn_register_linkup_cb'
$HOME/tizenrt/TizenRT/apps/examples/artik_de

[2017-08-28 09:26] sunghan-chang commented on #451
@sangwon03 @an4967 @pillip8282
There are two problems on this issue.
1. This example uses dm functionality but there is no dependancy.
2. Some wifi function names are changed but not in this example.

[2017-08-28 09:34] rzr commented on #348
can I also remove lcd code like sensor_test ?

'''
./os/syscall/syscall_funclookup.c:#include <tinyara/errno.h>
./os/drivers/Kconfig:           drivers support interfaces as defined in include/tinyara/lcd/lcd.h
./os/drivers/lcd/ili9341.c:#include <tinyara/lcd/lcd.h>
'''

[2017-08-29 09:00] pmarcinkiew opened #461 "Longjmp, setjmp crashes TizenRT"
The setjmp and longjmp are used in JerryScript error handling for JavaScript errors:

https://github.com/jerryscript-project/jerryscript/blob/master/jerry-core/parser/js/common.h#L118

This causes crash of TizenRT.

[2017-08-29 09:16] pmarcinkiew opened #463 "GCC 7.2.0 compilation failure - double_t"
When compiling with Linux toolchain, there are build errors like:

    math/lib_j1.c: In function ‘pone’:
    math/lib_j1.c:363:2: error: unknown type name ‘double_t’; did you mean
    ‘double’?
      double_t z;
      ^~~~~~~~

[2017-08-30 04:24] sunghan-chang commented on #463
#464 was merged.

[2017-08-30 04:24] #463 closed

[2017-08-30 04:25] #441 closed

[2017-08-30 04:26] sunghan-chang commented on #451
#452 was merged so that I close this.

[2017-08-30 04:26] #451 closed

[2017-08-30 04:46] sunghan-chang commented on #348
Ok, let's remove lcd part on drvier and include. But leave errno.h at syscall.
Do you have a plan for this? or Do we?

[2017-08-30 11:44] tadziopazur opened #476 "I2C session for a bus can only be used once"
At least two issues here:
 - up_i2cinitialize only increases refcount the first time, and s5j_i2cbus_uninitialize asserts recount > 0 (init, uninit, init, uninit crashes)
 - second time the bus is initialized, it does not work (SDA/SCL pins stay high, no matter what)

In order to reproduce, I used i2ctool from the TizenRT github repo.
It does not build (missing up_i2cuninitialize symbol), and is n

[2017-08-30 14:07] pmarcinkiew opened #478 "UDP broadcast not supported"
TizenRT doesn't implement UDP broadcast:

https://github.com/Samsung/TizenRT/blob/master/os/net/lwip/src/api/sockets.c#L2203

It is used in IoT.js test suite:
https://github.com/Samsung/iotjs/blob/master/test/run_pass/test_dgram_broadcast.js#L70

[2017-08-30 14:28] pmarcinkiew opened #479 "UDP membership groups not supported"
LWIP stack for UDP lacs valid implementation of UDP membership ADD and DROP operations:

https://github.com/Samsung/TizenRT/blob/a847d0a5fe27ddb75f0b904b96c9ed8d0b101362/os/net/lwip/src/api/sockets.c#L2290

This feature is required by IoT.js test test_dgram_multicast_membership.js:
https://github.com/Samsung/iotjs/blob/master/test/run_pass/test_dgram_multicast_membership.js#L43

[2017-08-30 19:14] tadziopazur opened #480 "I2C_TRANSFER description is inaccurate"
The documentation for I2C_TRANSFER (include/tinyara/i2c.h) states:
 *   Perform a sequence of I2C transfers, each transfer is started with a
 *   START and the final transfer is completed with a STOP. Each sequence
 *   will be an 'atomic'  operation in the sense that any other I2C actions
 *   will be serialized and pend until this read completes. Optional.

Since S5J implements it, it should fol

[2017-09-01 02:02] sunghan-chang commented on #344
@JunhwanPark
1. We modified this. When you enable PROTECTED_BUILD, you can find syscall menu. Before enabling it, you can't find syscall on menuconfig.
2. PROTECTED_BUILD is under developing, but because of some reason, that is delayed. Anyway we will add it.

[2017-09-01 02:40] JunhwanPark commented on #344
@sunghan-chang  Thanks. I will try.

[2017-09-01 10:41] #476 closed

[2017-09-01 11:36] sunghan-chang commented on #461
Girish is under reviewing for this.

[2017-09-02 21:32] #424 closed

[2017-09-02 21:33] #425 closed

[2017-09-03 22:07] #427 closed

[2017-09-04 12:42] pmarcinkiew commented on #316
Thank you very much for your comments.

I'm afraid that still your are missing key element in my questions. I need to set break point to analyze one function called for my project. You fail to obtain any working breakpoint trigger in your log.

Let's start with your logging session with breakpoint for i2c_uioregister.

[code]
I enabled breakpoint for help in tash and next I type help in TASH:

[co

[2017-09-04 13:12] tosyu commented on #316
Hello, I have tried gdb on tizenrt, breakpoint operation worked for me, but I had encountered problems with continue and next operations.

See attached logs:

[code]

Breakpoint is triggered but not once like its suppose to be. Each continue operation triggers the same breakepoint over and over again. There is no new input from console

[code]

The same things happens for tash_help

[code]

The sa

[2017-09-05 14:35] olegartys commented on #316
@tosyu Hello, please try to disable ISR:
`(gdb) monitor cortex_r4 maskisr on`

[2017-09-07 10:02] tadziopazur opened #546 "Buildbreak at TizenRT HEAD"
As of commit 3f599c21b63cedcf93f78296916948bb2aa7b395  TizenRT cannot be built for iotjs (do you need the defconfig?).
There might be more issues I didn't see with my brief examination.

Option CONFIG_EXAMPLES_SLSIWIFI enabled causes:

Option CONFIG_NET_CMDS enabled causes:

Options CONFIG_DM combined with CONFIG_ARCH_CHIP_S5JT200 enabled cause:

External mbedtls does not build as well (CONFIG_NET

[2017-09-07 10:14] btheosam commented on #546
https://github.com/Samsung/TizenRT/pull/543 had caused build break for all commits after. ONce that was removed, the build was okay.

[2017-09-07 13:18] tadziopazur commented on #546
If it is that commit that break HEAD and 'removing' it (git revert --help) is acceptable, please do so ASAP.
This is a blocker for us.

Once you sort the breaking changes out, you can decide to merge them eventually.

[2017-09-08 02:32] btheosam commented on #546
Not mine.

[2017-09-08 02:34] btheosam commented on #546
Heard that the author is aware of this. He will fix soon.

[2017-09-08 03:06] sunghan-chang commented on #546
Make.defs at os folder was changed to support external protocols like mbedtls, dhcpc, slsi_wifi and so on.
If you didn't update it, let's update it.
Here are methods to do it.
1. Run configure shell again, but it cause initialized .config.
2. Just copy it from build/configs/xxx/yyy folder.

[2017-09-08 14:03] tadziopazur commented on #546
The issue seems to be a bit deeper than this.
For one, running os/tools/configure.sh does change some git-untracked files; just copying defconfig later is not sufficient.
Second, the menuconfig option is somewhat tricky - not all configurations validated by menuconfig do build. As in: I took defconfig we use for IoT.js, it validated, but failed to build (WIFI_MANAGER and WIFI_NETUTILS were missing

[2017-09-08 14:03] #546 closed

[2017-09-11 17:53] tadziopazur opened #566 "Crash upon boot"
Latest TizenRT (revision 1a6d47ada529) crashes Artik053 board upon boot (log below).
Reverting commit 035144d904ad fixes the problem on my board.

[2017-09-12 04:20] EunBongSong opened #570 "QEMU Problem."
I use qemu/tash_16m config.
and then run as below and this stuck as below log.
How can i fix this ?
ebsong@ubuntu:~/tizenrt/github/upstream/TizenRT/os$ qemu-system-arm -M lm3s6965evb -kernel ../build/output/bin/tinyara -nographic -gdb tcp::3333
up_assert: Assertion failed at file:armv7-m/up_blocktask.c line: 111 task: 
up_dumpstate: sp:         20002f38
up_dumpstate: stack base: 00000155
up_dump

[2017-09-12 04:28] manoharahk commented on #570
1. Please use "qemu-2.10.0" for host, Refer "https://github.com/Samsung/TizenRT/tree/master/build/configs/qemu"

2. If you use "tash_16m" configuration, then you must apply the below patch to "qemu-2.10.0" source.
https://github.com/Samsung/TizenRT/blob/master/build/configs/qemu/qemu-2.10.0-rc2_increase_ram_size.patch

[2017-09-12 06:47] EunBongSong commented on #570
Thanks for your reply.
It works well after following your guide.

[2017-09-12 06:47] #570 closed

[2017-09-14 09:15] girishks2000 commented on #461
was this tested with setjmp patch

[2017-09-14 09:33] pmarcinkiew commented on #461
We tested https://github.com/Samsung/TizenRT/pull/462 with IoT.js. It requires several patches from other repositories (JerryScript, libtuv) so @tadziopazur take over my change with https://github.com/Samsung/TizenRT/pull/576

[2017-09-18 08:20] Taejun-Kwon commented on #566
https://github.com/Samsung/TizenRT/pull/593 에 수정된 이슈입니다. smart.c 대신 ftl을 사용하시면 됩니다.

[2017-09-20 09:52] sunghan-chang commented on #461
That was merged so that I close this.

[2017-09-20 09:52] #461 closed

[2017-09-20 09:54] sunghan-chang commented on #566
That crash was resolved by Taejun's changes. And if you have same crash on new board, clean your user fs partition through below command.
[code]
I close this. If you have additional question, please reopen it.

[2017-09-20 09:54] #566 closed

[2017-09-20 09:56] sunghan-chang commented on #423
@manoharahk Do you have additional question? If you don't, let's close this.

[2017-09-20 09:58] sunghan-chang commented on #348
@rzr There is no activity related this. We will remove lcd part later. I close this, if you have another reqeust or question, please reopen this.

[2017-09-20 09:58] #348 closed

[2017-09-20 10:14] sunghan-chang commented on #197
@tadziopazur You already modified it. Right?  Is there any another issue related this?

[2017-09-27 23:38] rzr commented on #348
ok for me , I am away this month I will open new PR if I can see other improvement , thanks again

[2017-10-04 09:22] tadziopazur opened #751 "open() on a directory is not supported"
In TizenRT there is no notion of a dirfd.
open(path_to_directory, _, _) returns -1 with errno set to EISDIR.

POSIX (POSIX.1-2008) mandates that open works on directories, returning a descriptor suitable for
directory streaming operations (fstatat, openat, [un]linkat, readlinkat, renameat and the like).

Is TizenRT interested in having this functionality (open on directories) provided?

[2017-10-06 07:45] tadziopazur opened #763 "fstat is not supported"
For one, fstat is mandated by POSIX.1-2001 and later.

There are some leftovers from the fork source (NuttX has and had the fstat at the point of forking) in the form of:
os/include/sys/stat.h:int fstat(int fd, FAR struct stat *buf)
and there is no actual implementation (linking fails):

/opt/iotjs/integration/iotjs.git/deps/tizenrt/os/../build/output/libraries/libtuv.a(fs.c.obj): In function `uv_

[2017-10-10 00:44] Taejun-Kwon commented on #763
I already discussed this issue with iotjs team before, you can use stat.
We will try to apply fstat later.

[2017-10-10 05:30] manoharahk commented on #423
OK, then are we creating missing entry to configure?

[2017-10-10 07:54] tadziopazur commented on #763
I can't use stat, since it works on paths, not open descriptors.
The IoT.js API mandates to have fstat.
Using paths instead of descriptors is hard to do right without OS support.

I posted a back-port from nuttx PR: https://github.com/Samsung/TizenRT/pull/775

[2017-10-12 10:31] sunghan-chang commented on #423
@manoharahk Just removing that line is enough. There is no config NET_LWIP_DHCPC and we will not use that one.

[2017-10-16 04:33] manoharahk commented on #423
OK. Thanks you all for your responses on this issue.

[2017-10-16 04:33] #423 closed

[2017-10-30 18:33] tadziopazur opened #881 "UDP broadcast is not supported"
Lets assume there are two sockets
port = 32100;
S1 = socket(INET, DGRAM).bind(0.0.0.0, port);
S2 = socket(INET, DGRAM).bind(0.0.0.0, port);
S2.recv();
S1.sendto(message, {INET, DGRAM, 255.255.255.255, port});

S2 never receives the message.

This is due to:
os/net/lwip/src/core/ipv4/ip.c:167:
struct netif *ip_route(ip_addr_t *dest) {
...
    if (ip_addr_netcmp(dest, &(netif->ip_addr), &(netif->net

[2017-10-31 06:36] ddfb2004 opened #884 "arastorage can't support update command"
The arastorage's command is like the macros below, but if I want to update the record in the database, how could I do? I haven't found an update command for this.

#define AQL_TYPE_CREATE_ATTRIBUTE
#define AQL_TYPE_CREATE_INDEX
#define AQL_TYPE_CREATE_RELATION

#define AQL_TYPE_INSERT

#define AQL_TYPE_REMOVE_ATTRIBUTE
#define AQL_TYPE_REMOVE_INDEX
#define AQL_TYPE_REMOVE_RELATION
#define AQL_TYPE

[2017-10-31 08:30] geek43 opened #885 "vfork() cant work properly"
Hi.

I'm handling with vfork(), found it can't work properly.
Please focus on below code, After vfork(), OS makes two process, is called parent and child.
After vfork(), parent and child is made successfully. But child is on;ly running, parent can't execute until child will be terminated. If child will be terminated after 10 seconds, then parent process would be executed.

   int pid;

   pid = vf

[2017-10-31 09:47] shivgarg commented on #884
We currently do not support update command.
As a stopgap arrangement you can use "remove and insert" operation in conjunction to get the equivalent result of an update command

[2017-10-31 09:52] sunghan-chang commented on #885
Hello @geek43 .
Vfork calls task_vforkstart and there is waitpid for child inside that. That's why parent can't execute until child is terminated.
This is written in [linux manpage](http://man7.org/linux/man-pages/man2/vfork.2.html) also.
[code]

[2017-10-31 09:52] sunghan-chang commented on #885
@geek43 If you don't have any additional question, please close this.

[2017-10-31 09:56] #197 closed

[2017-10-31 09:56] #196 closed

[2017-10-31 10:03] ddfb2004 commented on #884
I tried the command "REMOVE FROM rel WHERE id = 1;" in arastorage_itc module, it cause a crash for this. Is there any problems about the command?

[2017-10-31 11:15] shivgarg commented on #884
The remove command works fine. Remove was successful in itc_arastorage when i inserted it near line 147 of itc_arastorage_main.c .
`	memset(g_query, 0, QUERY_LENGTH);
	snprintf(g_query, QUERY_LENGTH, "REMOVE FROM %s WHERE id = 1;", RELATION_NAME);
	g_cursor = db_query(g_query);
	if (DB_SUCCESS(cursor_move_first(g_cursor))) {
		do {
			ret = db_print_tuple(g_cursor);
			TC_ASSERT_EQ("db_print_tuple

[2017-10-31 22:16] pillip8282 commented on #881
it would be better to split those issues

[2017-11-01 03:12] ddfb2004 commented on #884
Thanks for your answers, the remove command works correctly.

[2017-11-01 04:23] sunghan-chang commented on #884
@ddfb2004 Hello. Do you have any additional question? If it isn't, let's close the issue.

[2017-11-02 02:47] #884 closed

[2017-11-02 04:55] pillip8282 commented on #881
Did you test broadcast sending at tizenrt? It was working when I tested it.
I implemented a broadcast server sample in linux side and a sender in TizenRT(commit id:9639cc9fc1bb5d98bd67a3bb25b61f6a0e3b1f47).

[2017-11-02 07:26] ddfb2004 opened #896 "Is the arastorage thread safe?"
I have two questions about the arastorage:
1. Is it thread safe? could I share a database of arastorage between two threads without making any protections of critical section?
2. A relation of arastorage contains only one table, and it couldn't create more tables?

[2017-11-03 12:05] #885 closed

[2017-11-06 03:56] shivgarg commented on #896
1. No arastorage is not completely thread safe. It is recommended to use locks to prevent concurrency issues.
2. You can create multiple relations in arastorage. Just make sure you have adequate space on file system.

[2017-11-06 03:59] shivgarg commented on #896
The arastorage limits some things due to the requirement of low memory footprint. To tweak arastorage to use needs you can change various parameters of db in framework/src/arastorage/db_options.h file.

[2017-11-06 05:47] ddfb2004 commented on #896
Thanks for your answers

[2017-11-06 05:47] #896 closed

[2017-11-06 16:35] tadziopazur commented on #881
We did test the UDP broadcast over loopback and it didn't work.
Namely ip_route() selects a signle network interface to send a packet thru:

function ip_addr_netcmp() does not care about multicast or broadcast addresses, and the packet is sent nowhere.

For iotjs we have made a work-around:
https://github.com/tadziopazur/TizenRT/pull/1

All in all I think that it'd be useful to integrate recent lw

[2017-11-07 00:39] pillip8282 commented on #881
I didn't test a loopback broadcast. but sending broadcast or multicast to local network succeeds. it would be better if you share your test code.

Furthermore, there are no differences in ip_addr_netcmp() between 2.0.2 and TizenRT version

[2017-11-08 13:23] ravisankarg opened #930 "pdfs under "docs/API_Reference" does not open"
pdf files under "docs/API_Reference" does not open!

[2017-11-08 15:18] lokeshbv commented on #930
Hi @ravisankarg, github does not support previewing of pdf files. So you need to download and view it.

[2017-11-08 15:48] ravisankarg commented on #930
I tried to read the docs after cloning.

[2017-11-08 15:49] ravisankarg commented on #930
Just to make it clear, issue is not with github preview.

[2017-11-09 13:15] sunghan-chang commented on #930
@ravisankarg I am so sorry. Those aren't opened due to our security system. After merging doxygen config, we will re-upload them.

[2017-11-10 09:31] ravisankarg opened #938 "Build failure (sidk_s5jt200/hello)"
[config.txt](https://github.com/Samsung/TizenRT/files/1460811/config.txt)
**build failure**

make[2]: Entering directory '/home/ravi/sbox/gits/github/TizenRT/external/wakaama'
CC:  examples/shared/commandline.c
In file included from examples/shared/commandline.c:18:0:
examples/shared/commandline.c: In function 'prv_displayHelp':
examples/shared/commandline.c:74:17: error: invalid type argument of

[2017-11-13 04:44] longJ91 opened #942 "I found CVE problems."
Hello I used the IoTcube(security vulnerabilities analysis program) to TizenRT open source code.
So, I found that three CVE problems.
i.e CVE-2015-5314, CVE-2015-5315, CVE-2015-5316

CVE-2015-5314 problem in eap_server_pwd.c
line are 852~ and 869~
CVE-2015-5315 and CVE-2015-5316 problems in  eap_pwd.c
line are 671~ , 787~ and 810~

[2017-11-14 04:10] sunghan-chang commented on #763
This was merged so that I close it.

[2017-11-14 04:10] #763 closed

[2017-11-15 06:32] ravisankarg opened #962 "integer overflow error"
I was just curious & browsing the malloc code and found a possible int overflow error. i have not yet explored a way to write test codes and test my self w/o a need for a board etc. I am guessing, undesired things would happen when overflow happens. So, just leaving the pointers to the code location. an expert can check more.

size = MM_ALIGN_UP(size + SIZEOF_MM_ALLOCNODE);
at line no# 125 in os/m

[2017-11-16 04:16] sunghan-chang commented on #930
@ravisankarg I raise html instead of pdf. That is better to use. Could you check it?

[2017-11-17 08:09] #930 closed

[2017-11-21 04:16] sunghan-chang commented on #962
@ravisankarg This is resolved by Jeongchan's #986 . Thank you.

[2017-11-21 04:16] #962 closed

[2017-11-22 09:32] tadziopazur opened #1001 "ADC interface is inadequate"
When reading from adc device, sample data format is determined by read request size.
The size of individual sample is derived by factors of request size (if size is divisible by 5 then, otherwise if size is divisible by 4, by 3, by 2..).
Reading just one byte delivers MSB of a sample, 2 bytes request (also 14, 22..) gives channel no. and MSB of a sample, 3-sized read (6, 9, 21..) gives channel no.

[2017-11-22 11:59] lokeshbv opened #1004 "No Return checks in below mentioned codes in fs"
https://github.com/Samsung/TizenRT/blob/f46e80b8883ebc3bf4822bdc2881d9564206fe93/os/fs/driver/mtd/mtd_config.c#L606
https://github.com/Samsung/TizenRT/blob/ac8f91a507c172befb7422e13aaf3a070c382de7/os/fs/driver/mtd/smart.c#L3084

[2017-12-11 07:09] shijiameng opened #1099 "Kernel panic occurred when using tinyalsa libaray"
Hello, I've tired to to play a wave sound by using the tinyalsa library with an ALC5658 codec.
However, it seems that there are some bugs existing in the driver so that a kernel panic always occurrs:

_i2s_send: apb=2064010 nbytes=1024 arg=205f040 timeout=100
i2s_send: apb=2065040 nbytes=1024 arg=205f040 timeout=100
i2s_txp_worker: txp.act.head=0 txp.done.head=205cee0
up_assert: Assertion failed a

[2017-12-11 13:18] jsdosa commented on #1099
@kishore-sn

[2017-12-11 13:47] #1004 closed

[2017-12-12 03:56] shivgarg commented on #1099
Could you give the snippet you are using to play wav file?

[2017-12-12 04:32] shijiameng commented on #1099
I just ported the nxplayer projects from SamsungARTIK/TizenRT.git
You can copy the entire folder into apps/example directory and check it in menuconfig.
Then, execute it as following:

TASH> nxplayer
nxplayer> device /dev/audio/pcmC0D0p   ->Select the playback device
nxplayer> play /mnt/xxx.wav  ->Play the audio file
....kernel panic....

[2017-12-12 06:06] shivgarg commented on #1099
Did you try running the audio utc? Does it work?

[2017-12-12 06:17] shijiameng commented on #1099
I tried the audio utc, it seems ok that I can see the I2S rx process:

_i2s_rx_worker: rx.act.head=0 rx.done.head=205cde8
i2s_receive: apb=2068070 nmaxbytes=4096 arg=205ec70 timeout=100
i2s_rx_worker: rx.act.head=0 rx.done.head=205cdcc
i2s_receive: apb=20690a0 nmaxbytes=4096 arg=205ec70 timeout=100
i2s_rx_worker: rx.act.head=0 rx.done.head=205cdb0
i2s_receive: apb=206a0d0 nmaxbytes=4096 arg=205ec7

[2017-12-12 07:12] shivgarg commented on #1099
We do not plan to support nxplayer application . Many changes have been made to audio framework since we removed nxplayer application from the repository. One of the changes which I found out while going though nxplayer is the change in semantics of buffer size. Since commit bd434bfc95d7542501ba3bc8a3fe9156e4981cf7, the buffer size is reported in number of frames and not in number of bytes. You ca

[2017-12-12 10:17] shijiameng commented on #1099
I wrote a playback program refer to the utc_audio_pcm_writei_p function, but kernel panic still occurs when try to play a wav file. Could you please to test my code?

`#include <tinyara/config.h>
#include <tinyara/audio/audio.h>
#include <tinyalsa/tinyalsa.h>
#include <sys/types.h>
#include <stdio.h>
#include <stdlib.h>
#include <string.h>
#include <unistd.h>
#include <errno.h>
#include <assert.h>

[2017-12-12 10:31] shijiameng commented on #1099
Unfortunately, audio_utc is also suffering from the kernel panic...

_[utc_audio_pcm_bytes_to_frames_n] PASS

[utc_audio_pcm_format_to_bits_p] PASS

[utc_audio_pcm_format_to_bits_n] PASS
Sample will be recorded for 3s, press any key to start(Total frame: 48000)

TASH>>i2s_receive: apb=20b1010 nmaxbytes=4096 arg=205ee00 timeout=100
i2s_receive: apb=20b2040 nmaxbytes=4096 arg=205ee00 timeout=100
i2s

[2017-12-19 02:06] ddfb2004 opened #1128 "the "remove from" command can't work well when called for the seconde time in arastorage"
I wrote a sample in itc_arastorage_main.c to test the "remove from" command, the code is here

void itc_arastorage_db_print_tuple_remove(void)
{
    db_result_t ret;
    memset(g_query, 0, QUERY_LENGTH);
    snprintf(g_query, QUERY_LENGTH, "REMOVE FROM %s WHERE id = 1;", RELATION_NAME);
    g_cursor = db_query(g_query);
    if (DB_SUCCESS(cursor_move_first(g_cursor))) {
        do {
            re

[2017-12-19 07:59] shivgarg commented on #1128
I looked into itc. The itc does have this function "itc_arastorage_db_print_tuple_remove".
I think you are using an older version of it. But I tested  consecutive remove statements in arastorage in utc_arastorage_main.c. I inserted the following snippet at line 425 and it worked without any error.
`        /* Remove operation */
         snprintf(query, QUERY_LENGTH, "REMOVE FROM %s WHERE date > 2

[2017-12-20 01:42] sunghan-chang commented on #1099
@shijiameng We have not enough information of yours.
The facts are below:
1. Tizen RT and ARTIK Tizen RT are different.
2. There is no error and no crash on our audio utc.
3. Your base is ARTIK Tizen RT and we don't know what you modify.

We have media player on apps/example. Could you use that instead of nxplayer?

[2017-12-20 09:08] ddfb2004 commented on #1128
yes，that‘s right. I check out the latest version, the issue has gone. Thanks for your answer.

[2017-12-20 09:08] #1128 closed

[2017-12-26 07:45] sunghan-chang commented on #478
This is duplicated with #881 so that I close this. Please follow this there.

[2017-12-26 07:45] #478 closed

[2018-01-02 07:46] shijiameng commented on #1099
Yes, I fixed a stack overflow bug in the module which I developed and now the panic no longer occurs. But I have another question, that is, how can I un-mute the speaker of alc5658? In alc5658script.h, register ALC5658_SPKOUT doesn't seem to be configured, and may I get the details of alc5658 registers?

[2018-01-10 01:09] btheosam commented on #1099
@shijiameng Please refer alc5658reg.h for alc5658 registers.

[2018-01-10 01:10] btheosam commented on #1099
@shijiameng please refere alc5658reg.h and alc5658scripts.h to know register addresses and values.

[2018-01-11 10:34] pholat opened #1187 "artik05x `make download all` fails"
There are two issues here:
* artik05x_download.sh doesn't care if it's mac or linux
* there is bug in partition_gen.sh which causes wrong partition addresses generation when running
`make download all`

[2018-01-12 15:56] pholat opened #1189 "wifi app connection fails with 201 when providing ssid & passphrase in TASH"
Trying to connect WiFI with tash `wifi` command with following setup:
`wifi startsta` -> reply success
`wifi connect MyNetwork MyPassphrase wpa2_aes` -> fails with error -201

Where 201 error in slsi_wifi_api.h is `SLSI_REASON_NETWORK_CONFIGURATION_NOT_FOUND` , whereas my understanding is it was provided in `wifi connect` command.

[2018-01-15 09:27] pholat commented on #1189
My bad, I've been providing data with typo.

Though logs are a bit missleading in tash command : before connection there were ssid/passwd shown and when it failed there was written that empty ssid/passwd was provided, log:
`Connected to network: bssid: , ssid:
Join failed - reason 201`

[2018-01-15 09:34] dr-venkman commented on #1189
Could you please try as follows:

wifi join Network password wpa2_aes

[2018-01-16 13:51] kimusan commented on #1187
make sure to use ALL and not "all" (needs to be uppercase)

[2018-01-16 18:52] rzr commented on #1187
I confirm it's still working

[2018-01-17 02:58] sunghan-chang commented on #1099
@shijiameng If you don't have any other question, let's close this.

[2018-01-17 03:01] sunghan-chang commented on #1187
in artik05x_download.sh, we support lowercase as well. We can use ```make download all`` also.
[code]

Anyway we will merge @pholat 's fix soon.

[2018-01-17 14:11] shijiameng commented on #1099
Ok, I solved the problem. Please close this issue

[2018-01-18 03:57] #1099 closed

[2018-01-18 12:29] sunghan-chang commented on #1187
@pholat I merged yours. Is there any other issue?

[2018-01-18 12:29] sunghan-chang commented on #1189
@pholat Is it working with @dr-venkman 's suggestion?

[2018-01-23 12:56] rzr commented on #938
This issue is related to missing fd in config file, can you please try to regenerate on current base, if it fails again I'll fix it.

[2018-01-25 20:23] rzr commented on #1001
calibration could be done at application level, no ?
FTI, I've been using ADC with latest iotjs and it works for my simple case.

[2018-02-08 14:00] viktorgino opened #1262 "Closing disconnected websocket stalls application"
[websocket_queue_close](https://github.com/Samsung/TizenRT/blob/master/external/include/protocols/websocket.h#L528) hangs the application when calling on a websocket with a server that disconnected without properly closing the socket. It hangs [here](https://github.com/Samsung/TizenRT/blob/master/external/websocket/websocket.c#L1053).

In my case the websocket server is part of an Android app and

[2018-02-12 12:44] sunghan-chang commented on #212
We supported this functionality serveral months ago. You can find CONFIG_ARTIK05X_AUTOMOUNT_SSSRW on board selection of menuconfig. I close this issue.
If you have any issue, please let us know at anytime.

[2018-02-12 12:44] #212 closed

[2018-02-12 12:47] sunghan-chang commented on #881
There is no activity. If you need to check this, kindly reopen this with @pillip8282 's request.

[2018-02-12 12:47] #881 closed

[2018-02-19 13:46] pholat opened #1283 "No binary for Mac OS artik05x_AppCodesigner"
CodeSigner tool can't be run on MacOS, so I can't work with Artik053s on Mac ( or Windows ), which in other parts of scripts is supported.

[2018-02-19 13:48] pholat commented on #1189
@sunghan-chang My bad, it's working now - just log was misleading a bit. There was bad character copied into password and that's the error output.

[2018-02-19 13:48] #1189 closed

[2018-02-20 08:25] sunghan-chang commented on #1283
@pholat I am so sorry but that depends on chip vendor. Let's wait his response.

[2018-02-20 09:27] sunghan-chang commented on #942
@longJ91 I am so sorry for delay response.
Those files which you mentioned are not used in TizenRT, not compiled. And wpa_supplicant was come from another opensource project. That's why we don't want to fix or remove them. Instead of removing, we make a new config to notice that it has CVE issues and we don't recommand to use. As you know, TizenRT is an opensource project as well. Even though it h

[2018-02-20 09:28] JunhwanPark commented on #1283
Hi @pholat ,
I prepared it. But I have not updated it yet. It will be updated before February is over. And then I'll tell you again.

[2018-02-20 15:10] pholat commented on #1283
Thanks, for now I'll try to deal with VB machine.

[2018-02-21 07:16] sunghan-chang commented on #1283
@pholat Could I leave a query to you? Do you use the TizenRT on MAC? Could you let me know any problem or difficulty?

[2018-02-21 09:43] pholat commented on #1283
@sunghan-chang Sure :) I've to work on Mac, there was some fun involved for me to i.e. use kconfig on mac, though nothing too serious. I can make PR to README with update how to install it.

While I couldn't configure ftdi driver on mac to have both jtag and uart available, I just use com on hardware uart0 instead - I believe it's common macbook problem.

I've tried a few examples with ease.
In co

[2018-02-21 11:27] juitem commented on #1283
It would be appreciated if you could contribute PR for MAC.
Actually we were also considering to support MAC officially on this year, if you proceed with submitting PRs and any additional supports we'll develop.
Thanks

[2018-02-23 06:03] #942 closed

[2018-02-26 13:04] sunghan-chang commented on #938
Some combination of configs makes compilation and linking errors so that I make a PR #1298 . But that is not enough to resolve all of errors. We will resolve them one by one. Anyway I resolve above erorrs.
Be aware that there is an error on lwip about tcpip_input. Because lwip will be updated to 2.0.2, we keep it.
If you have any additional question, please make an issue again.
Thank you.

[2018-02-26 13:04] #938 closed

[2018-02-28 02:21] viktorgino commented on #1262
Problem in artik-sdk. See: https://github.com/SamsungARTIK/artik-sdk/issues/24

[2018-02-28 02:21] #1262 closed

[2018-03-06 13:31] sunghan-chang commented on #1283
@JunhwanPark Could you update supporting codeSigner for mac again? There is no relevant commit in SamsungARTIK.

[2018-03-06 23:41] JunhwanPark commented on #1283
@sunghan-chang Sorry. Update is delayed due to various issues. Please wait a little longer. The goal is to release a new version in mid-March.

[2018-03-07 10:57] rzr commented on #322
i2c worked for me on ARTIK055S (using IoT.js) I can share more details if it helps.

[2018-03-12 01:37] JunhwanPark commented on #1283
@sunghan-chang https://github.com/SamsungARTIK/TizenRT/commit/de1e0c1aa02c7a0a3080a72a8c0001a8606855b1

[2018-03-12 06:15] JunhwanPark commented on #1283
Hi @pholat ,
I updated it. Enjoy~

[2018-03-12 09:38] rzr commented on #1283
For the record I think it can be download from SDK archive, is it for linux at least.

I can give more details if needed

[2018-03-14 15:50] pholat opened #1328 "errno is set on gpio actions & gpio numbering doesn't reflect documentaion on artik053"
When I check errno on opening, setting fcntl, writting to GPIO, I get errors on it, even though it works ( this is: toggles pins ) just right.

Plus:
Using posix `open -> write -> fcnt -> close` api, you need to specify pin number according to:
`arch/arm/src/artik05x/src/artik05x_boot.c` documentation `HW_Datasheet_ARTIK_053s_V1.4.pdf` at section Module pad definitions have it wrongly numbered - i

[2018-03-15 06:13] sunghan-chang commented on #1283
@JunhwanPark Thank you for supporting.
@pholat I cherry-picked it from SamsungARTIK, ours is https://github.com/Samsung/TizenRT/commit/f61d3ff73aee0d72c96c9a14ef7a371020905ce0. If you configure MACOS as a host, codesigner for mac will be used automatically by download script.

[2018-03-15 06:14] sunghan-chang commented on #1283
@pholat If it is enough to this issue, let's close this.

[2018-03-15 08:02] sunghan-chang commented on #1328
@pholat For first question,
I tested what you mentioned in linux.
[code]
It shows as shown below:
[code]
So, errno keeps previous value until updating by another error.
When you try to see errno value with function success, showing some value on errno is normal.
It is same as ours.

[2018-03-15 08:03] sunghan-chang commented on #1328
@JunhwanPark Could you check @pholat 's second query for GPIO?
By his comment, it looks mismatched.

[2018-03-15 08:17] JunhwanPark commented on #1328
@pholat Oh! I see...  I will talk to the person in charge of the document. Thx for reporting.
u can check https://github.com/SamsungARTIK/TizenRT#gpio-mapping .

[2018-03-15 09:54] pholat commented on #1328
@JunhwanPark  Great thanks for confirmation! It will be great to fix docs as these are on the Samsung main page on Artik053 - it's one of first solid info one get on the Artik053 platform.

@sunghan-chang  I've cleaned errno prior to calling open, write etc. just in case, if it wouldn't be too much could you please check with Artik053s too? ( secure one?)
Also I've freezed updating TizenRT and am

[2018-03-15 10:00] pholat commented on #1328
btw: I'm impressed - documentation is just getting better 👍

[2018-03-15 11:53] sunghan-chang commented on #1283
@pholat Due to my fault (wrong modification on f61d3ff), I merged one more commit. https://github.com/Samsung/TizenRT/commit/5d8b5ab094ca1b5bcd8eed2dec21f827aaf29903. Sorry for inconvience.

[2018-03-15 13:16] sunghan-chang commented on #1328
@pholat Let's clearfy your problem.
1.  They, open, read, write and etc, return ERROR (or negative value).
2. They return OK but when you check errno, it has error value.
Could you let me know what is your problem?

[2018-03-15 15:55] pholat commented on #1328
@sunghan-chang The first one.

[2018-03-16 10:12] sunghan-chang commented on #1328
@pholat Thank you for confirmation. I will check it but my computer was gone. I may do it next week. After checking, I will let you know.

[2018-03-16 14:02] pholat commented on #1328
@sunghan-chang I'm sorry for your loss :) Thanks! I'll let you know if I find something more.

[2018-03-16 14:04] pholat commented on #1283
@sunghan-chang No worries, thanks for fixing. I actually first moved onto Linux VM and now on linux PC entirely.

[2018-03-16 15:59] pholat opened #1337 "SCSC watchdog can't be disabled in config - this breaks debugging in gdb"
https://github.com/Samsung/TizenRT/blob/ef26351d38194f571f86b981e5e2c9e6efabccfd/os/drivers/wireless/scsc/misc/platform_mif.c#L201 There is no guard to disable this watchdog. This way when debugging, after wifi enable it kicks in and ruins debugging.

Also I've an issue with stepping on artik053s in generall. I start debug like that:
-> set V=2 in Make.defs
-> set CONFIG_DEBUG_SYMBOLS in .config (

[2018-03-19 02:24] shijiameng opened #1338 "A breakdown problem in dhcpd"
I found a bug existing in external/dhcpd/dhcpd.c at line 1098 of function dhcpd_sendack.
This function does not confirm if the g_dhcp_sta_joined pointer is a valid function address before invoking it. Thus, AP mode always breaks down  when the STA associated with it.

[2018-03-20 02:28] pillip8282 commented on #1338
Thanks for your report.  We will fix it.

[2018-03-20 04:06] pillip8282 commented on #1338
I uploaded fetch as https://github.com/Samsung/TizenRT/pull/1346

[2018-03-20 05:16] sunghan-chang commented on #1283
@pholat Ok, then I close this. If you have any issue on this, please reopen. Thank you for confirmation.

[2018-03-20 05:16] #1283 closed

[2018-03-21 07:34] maliyu opened #1360 "About CodeSigner tool for ARTIK 053s on ubuntu 32"
It seems CodeSigner tool in ARTIK 053s is for Ubuntu 64. Hence I can make successful compilation but fail on firmware downloading. Pls upload CodeSigner tool for ubuntu 32.

[2018-03-21 08:06] sunghan-chang commented on #1360
@maliyu Hello.
Already here is. https://github.com/Samsung/TizenRT/blob/master/build/configs/artik05x/tools/codesigner/linux32/artik05x_AppCodesigner
Doesn't it work? or not yet checked?

[2018-03-21 08:16] sunghan-chang commented on #1328
@pholat Hello. Sorry for delay. I restore my PC yesterday.
I checked iotbus_test sample which is in apps/examples. There is no issue and it works well without error return. As you know, actually iotbus gpio also uses open, read, write and etc inside.
To know what problem is, could you share your sample code?

[2018-03-21 08:17] sunghan-chang commented on #1337
@pholat Sorry for delay. I will check and come back to you with result.

[2018-03-21 08:36] maliyu commented on #1360
Thank. I have not checked it.

[2018-03-21 08:36] #1360 closed

[2018-03-21 14:47] pholat commented on #1328
Sure, I use some variant  of gpio_write found in repository with tiny modifications.
[code]

then logs are:

Previous logs were messed up due to my own stupidity, sorry about that, I've put wrong printf specifiers.

[2018-03-22 13:52] pholat commented on #1328
This is awkard, I use gcc in version:

And if(...) without {} then it doesn't work. Please see that if was for negative numbers and positive one is logged. When I've added {} around logs its not happening.
I'm compiling on Ubuntu: 4.4.0-116-generic #140-Ubuntu SMP Mon Feb 12 21:23:04 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

So with docs fixed it can be closed I think, sorry for confusion.

[2018-03-23 11:40] sunghan-chang commented on #1328
@pholat Thank you for confirmation.

[2018-03-23 11:40] #1328 closed

[2018-03-28 12:21] sunghan-chang commented on #1337
@pholat Hello. I am sorry for delay. But we had some urgent issue inside (now resolved).
1. Chip vendor, ARTIK, provided scsc module and they want to maintain it. So that it is difficult to modify scsc to support scsc watchdog. In this case, you had better ask it on SamsungARTIK.
2. I've tested GDB with assert.
Codes are
[code]
I used GDB command as shown below:
[code]

[2018-03-28 12:22] sunghan-chang commented on #1337
@pholat Is this enough?

[2018-03-29 04:29] sunghan-chang commented on #195
@kolipka I already modified what you say in iotbus, https://github.com/Samsung/TizenRT/commit/4eac5d43b24a787a1a485101022ba930da5433a3 and other modules as well. But this your opinion is very good to us so that I want to keep open and use this as reference like above.
Thank you very much.

[2018-03-29 06:00] kolipka commented on #195
You are welcome :)

[2018-04-03 04:49] shijiameng opened #1417 "media_record doesn't work"
I'm testing the media_record library with an ALC5658 codec, the sampled PCM data are always zeros.
Please check it.

[2018-04-03 06:07] jsdosa commented on #1417
how to test?
Please explain to me in detail.

[2018-04-04 01:17] shijiameng commented on #1417
I'm not known if you have an alc5658 codec and test the driver before its publication . In our situation, we connected the alc5658 codec to ARTIK053's I2S interface,  then tested the media_play and media_record through media_test application. Now, the media_play application works well but media_record doesn't work.

[2018-04-04 01:36] Taejun-Kwon commented on #1417
Currently we write data on flash for every record, but performance of artik053 is little slow.
I think you'd better use ramfs instead of smartfs for current record.
We will update latest media f/w and sample application soon.

[2018-04-15 17:12] pholat commented on #751
@tadziopazur Does your catalog have '/' at the end of the path? It's perfectly legit and praiseworthy on Linux, but it was the issue in my case when I tried opening/creating catalogs.

Though my errno was different - ENXIO I believe.

[2018-04-15 17:17] pholat opened #1465 "mkfifo works only in '/dev/' directory."
When I was trying to create FIFO somewhere other it failed, I could only open normal file there. Only when checking examples I saw that these uses `/dev/` directory.

I had issues with AF_UNIX sockets too, afair I could open it, but couldn't make any data transfer. As I was checking internal sockets tests were made on loopback interface, which I don't consider a good practice - which is why FIFO i

[2018-04-23 01:56] shijiameng opened #1500 "libcxx cannot be built"
Hello,

I have updated the ARM toolchain to  version 6 (gcc-arm-none-eabi-6_2-2016q4) and trying to build the libcxx library, but there are some errors:

./any.cxx:27:15: fatal error: any: No such file or directory
 #include "any"

/opt/gcc-arm-none-eabi-6+2-2016q4/arm-none-eabi/include/sys/_types.h:168:5: error: 'wint_t' does not name a type wint_t __wch;

How could I tackle these errors?

[2018-04-23 13:56] sunghan-chang commented on #1500
@shijiameng Could you share your Make.defs which is in build/configs/xxx/yyy folder?

[2018-04-23 14:15] shijiameng commented on #1500
I am using the configuration of build/configs/artik053/audio

[2018-04-24 06:29] sunghan-chang commented on #1500
@shijiameng Current artik053/audio does not have C++ config enabled. If you want to use c++ based on artik053/audio, you should turn it on. But we recommand using artik055s/audio. Actually artik053 EVK board does not support audio (artik053 module supports).

[2018-04-24 07:04] jsdosa commented on #1500
@shijiameng
please check : https://github.com/Samsung/TizenRT/pull/1533/
we do not support the artik053/audio

[2018-04-24 11:14] sunghan-chang commented on #1465
@samirsahu1947 Here is no activity. Please check this issue asap.

[2018-04-25 19:50] pholat commented on #1465
@sunghan-chang Thanks for confirmation, I actually lost quite a bit of time wondering why it worked different on Artik then in tests.

I could only suggest that it would be nice if sub-repositories could be handled as git submodules - it would be easier to check different versions of them.

[2018-04-26 04:05] sunghan-chang commented on #1465
@pholat Do you mean arch for artik?

[2018-04-26 06:41] pradeepns85 commented on #1465
@pholat , In TizenRT, unlike linux, mkfifo is created as device driver file and not a special file type. It's a device driver instance. while creating the device driver file, it does not allow to create a device file inside any mount partition.

Flow =>   mkfifo-> register_driver -> inode_reserve -> inode_search

inode_reserve()
{
         <snip>

200         if (inode_search(&name, &left, &parent

[2018-04-28 14:55] pholat commented on #1465
@sunghan-chang I've checked it on artik053s
@pradeepns85 `os/include/sys/stat.h` only states that mkfifo(..) is a POSIX api and follows [pubs.opengroup.org](http://pubs.opengroup.org/onlinepubs/9699919799/), therefore comes the assumption that if you can provide (any) path, like in referenced Linux example - as standard doesn't specify memory mapping scenario.
As it's not quite the case it would b

[2018-05-04 01:37] sksno1 opened #1637 "some configurations build not done"
Hi
I have ARTIK053 board. and I test  to build TizenRT offered options(TizenRT/os/tools/configure.sh ).
Some build options have not effect. there is a list

build complete

artik053/minimal
artik053/hello
artik053/tc
artik053/nettest
artik053/kernel_sample
artik053/iotjs
artik053/helloxx
artik053/cxxtest

build error

artik053/st_things

AR:   net_sockets.o net_close.o net_dupsd.o net_dupsd2.o net

[2018-05-04 02:04] sunghan-chang commented on #1637
Hello @sksno1 .
First of all, sorry for unconvenience.
1. artik053/st_things
2. artik053/iotivity
    They have iotivity enabled. To build iotivity, scons is mandatory tool.
    Could you check [README of iotivity](https://github.com/Samsung/TizenRT/tree/master/external/iotivity#prerequisites)?

3. artik053/grpc
    grpc includes protobuffer and ```protoc``` is needed.
    Find [README](https://gi

[2018-05-04 03:03] sunghan-chang commented on #1500
Is there any update? If you have, please reopen this. Thank you.

[2018-05-04 03:03] #1500 closed

[2018-05-07 05:29] zuowanbushiwo opened #1649 "How to connect to a router that requires 802.1x authentication?"
Is there some example that can be referenced?

[2018-05-07 08:44] pholat opened #1651 "Can't create ota img from make, though it was possible"
As in subject. Fix in:
 scripts: ota_img target paths fixed and scripts #1650

[2018-05-07 11:00] pholat commented on #1651
up: updated `make download ota` now it works as designed - this is one make ota image, load it to destined sector, reboot and verify if it works.
Works i.e. with hello_world example.

[2018-05-08 06:53] sunghan-chang commented on #1637
@sksno1 FYI. I raise a PR #1657  to show necessary package to build or download.
i.e.
[code]

[2018-05-08 06:53] sunghan-chang commented on #1637
@sksno1 If you don't have any additional question, please reopen this.

[2018-05-08 06:53] #1637 closed

[2018-05-10 15:19] pholat commented on #1651
@sunghan-chang NP and thanks :)

[2018-05-10 15:42] pholat opened #1690 "bchardev freezes on close on OTA partiton"
I need OTA functionality for our application and added some (dirty WIP) code for just that, as well as updated example in apps/examples directory here:
   https://github.com/pholat/TizenRT/tree/ota_tests

I've just one issue in line:
    `os/drivers/fota/fota_driver.c:192      close(fota_fd);`
This close closes bchrdev created on fota partition driver, though for some reason in hangs.

When I rest

[2018-05-12 15:34] devFallingstar opened #1705 "No plan for Korean repository?"
As a student, I want to expand the influence of this great project(I mean TizenRT) to our Korean student.

Is there any planning for translate?

I hope I can start or participate to translation work.

thanks.

[2018-05-14 14:07] pholat opened #1724 "os/tools/mksmartfsimg.sh uses unexisting binary"
There is no binary for nxfuse in repository, though scripts point to it.

[2018-05-16 07:13] sunghan-chang commented on #1724
@pholat Internally we use Nuttx's nxfuse but we don't support it now in public. I am so sorry but could you use Nuttx's nxfuse if you need to make smartfsimg?

[2018-05-16 08:07] jeongchanKim commented on #1690
I checked your code(https://github.com/pholat/TizenRT/tree/ota_tests), but that is not from our repo.
I'm sorry but we cannot cover not from ours.

[2018-05-16 08:29] sunghan-chang commented on #1649
@pillip8282 Could you check and answer this?

[2018-05-16 15:35] pholat commented on #1690
@jeongchanKim I don't understand what you need not from your repo? It's forked form TizenRT here. II've just added lacking driver as I need it, though have some issue with bchdev which can't seem to get closed.
Or do you mean it's part of legit Nuttx code TizenRT developers do not maintain?

[2018-05-16 15:36] pholat commented on #1724
@sunghan-chang Thanks, will do.

[2018-05-17 01:57] pillip8282 commented on #1649
Sorry for the late reply. TizenRT doesn't support 802.1x now. So you couldn't connect TizenRT to the router which supports 802.1x.

[2018-05-21 07:54] jeongchanKim commented on #1690
In our code, there is no issue for fota without  bchdev. So I don't know why you added the bch.

[2018-05-21 10:11] pholat commented on #1690
@jeongchanKim there was no fota driver at all, that's why I've used bchdev to write the update onto the flash. There was no issue, because there was no fota driver at all. If it was there - I would have never tried to do it myself.

[2018-05-23 00:52] jeongchanKim commented on #1690
Okay I understand what you're saying.
But, which board do you use?
If you use artik, fota driver is not required for current version. Because artik05x_configure_partitions automatically set the driver.
If you don't use artik, you are right, we should check fota driver code.

[2018-05-24 08:27] zuowanbushiwo commented on #1649
thanks, have any plan？

[2018-06-04 08:48] pillip8282 commented on #1649
Unfortunately, we don't have a clear plan yet.

[2018-06-13 11:58] #1649 closed

[2018-06-14 05:57] #1417 closed

[2018-06-14 06:06] shijiameng opened #1865 "C++ problems"
Hi,
I'm developing an application by C++ and selected the 'Have C++ compiler' option in the menuconfig. But it cannot be complied with the following errors:

make[1]: Entering directory '/home/sjm/Projects/ARTIK05x/TizenRT/external/libcxx'
./any.cxx:27:15: fatal error: any: No such file or directory
 #include "any"

make[1]: Entering directory '/home/sjm/Projects/ARTIK05x/TizenRT/lib/libxx'
make[1

[2018-06-14 06:42] manoharahk commented on #1865
C++ requires to enable multiple configs and modification in each Make.defs as well.
Please refer artik053/cxxtest, defconfig & Make.defs

[2018-07-03 17:03] RootUp opened #1903 "strncat() without bounds"
Bug Type: Security
File: https://github.com/Samsung/TizenRT/blob/master/apps/examples/testcase/le_tc/kernel/tc_libc_string.c#L473

i.e

`res_ptr = strncat(dest_arr, src, BUFF_SIZE);`

 Easily used incorrectly (e.g., incorrectly computing the correct maximum size to add).

Consider strcat_s, strlcat, snprintf, or automatically resizing strings. I feel the risk is high because the length parameter a

[2018-07-09 12:52] sunghan-chang commented on #1903
@RootUp Thank you for your advise.
We will check almost strncat and similar stubs. But tc is designed to check API operation itself. Because we don't care extension of it, we don't want to calculate.

[2018-07-11 10:22] sunghan-chang commented on #1903
@RootUp We found an issue on http and resolve it #1920 . Thank you again. If you have any query or advice for this, please kindly reopen this.

[2018-07-11 10:22] #1903 closed

[2018-07-24 13:17] pholat commented on #1690
@jeongchanKim
Sorry for late response - I missed the reply :)
I use Artik053s - I needed something to write OTA given binary to OTA partition, so I've added simple code using bchdev to write the data onto this partition. Then when I call flush on bchdev on the mentioned partition at the end of writes it just hangs.

I hope I was 100% clear now :)

[2018-08-09 08:34] rzr commented on #322
Relate-to: https://github.com/Samsung/TizenRT/issues/1001

[2018-08-21 13:23] matheusmb opened #2075 "[Artik 053s] WiFI API for IoT.JS"
Hi,

I want to develop my application using Javascript/IoT.js. Is there any WiFI API for javascript available? Currently there's support for many uC and OS resources, but I couldn't find any for the WiFI management.

Thanks.

[2018-08-21 14:41] sunghan-chang commented on #2075
@hs0225 @haesik Could you reply @matheusmb 's query?
@matheusmb Thank you for issueing. @hs0225 and @haesik might help you on IoT.js side. We support [wifi-manager](https://github.com/Samsung/TizenRT/blob/master/framework/include/wifi_manager/wifi_manager.h) on our C implementation.

[2018-08-22 05:41] Juho04 opened #2082 "TizenRT flash error"
![flash_error](https://user-images.githubusercontent.com/42197146/44444764-6b562100-a619-11e8-8f15-1470b9ccc73b.jpg)

There is flash error. How can I solve this problem?

[2018-08-22 09:55] sunghan-chang commented on #2082
Hello @Juho04.
Usually un-connected serial driver causes above error. Could you confirm serial driver is recognized? If it is, could you check below link as well?
https://github.com/Samsung/TizenRT/blob/master/build/configs/artik053/README.md#add-usb-device-rules

[2018-08-23 11:13] sunghan-chang commented on #2075
@matheusmb IoT.js dev team said, it does not support WIFI control on IoT.js. If you want to control WIFI on TizenRT, please refer our wifi-manager.

[2018-08-24 04:30] sunghan-chang commented on #2082
@Juho04 Is it resolved?

[2018-08-29 09:44] sunghan-chang commented on #2082
@Juho04 Here is no activity. When you meet again, please reopen this.

[2018-08-29 09:44] #2082 closed

[2018-08-29 09:45] sunghan-chang commented on #2075
@matheusmb Here is no activity and requirement. Please reopen this when you need.

[2018-08-29 09:45] #2075 closed

[2018-09-05 06:41] zhouxinhe opened #2163 "kernel/mqueue: g_desfree is not initialized!?"
should we add `sq_init(&g_desfree);` in `void mq_initialize(void)`?

[2018-09-05 09:13] jeongchanKim commented on #2163
g_desfree is a global variable. So it will be initialized automatically.

[2018-09-06 10:39] pholat opened #2170 "[Artik053s] CONFIG_SCSC_WLAN_AUTO_RECOVERY not working - platform infinite hang"
There are times when WiFi hangs, i.e. I saw it happen after non clean reboot ( i.e. after pressing reset ) about 10% of time.

This results in log:
"HIP state set to #SLSI_HIP_STATE_BLOCKED#
from:
os/TizenRT/os/drivers/wireless/scsc/cm_if.c function: static void slsi_hip_block_bh(struct slsi_dev *sdev)

after that board freezes and only manual restart helps. When I added plain reboot with:
`boardc

[2018-09-11 05:36] sunghan-chang commented on #2170
@JunhwanPark Could you check this issue for ARTIK wifi driver?

[2018-09-11 05:37] sunghan-chang commented on #2163
@zhouxinhe Thank you for checking it.
@jeongchanKim Please confirm whether mqueue is not necessary to re-initialize or not.

[2018-09-11 06:00] sunghan-chang commented on #2163
Me and Jeongchan have checked it. There is no difference between adding sq_init and keeping now. But it looks strange because other lists are initialized with sq_init at mq_initiailize function. Let's keep current code.
@zhouxinhe If you have different opinion, please let us know.

[2018-09-11 06:37] JunhwanPark commented on #2170
Hi @pholat ,

I have to check the whole log and I will be able to guess. And this repository has a very old version of the `wlanfw.bin` file. It has been updated a few times, so please check it. https://github.com/SamsungARTIK/TizenRT/commit/a6853b4271f9a4a8ba521bda42d5ce0bb56c75f2

It may not be solved by simply changing the WiFi firmware. Please check first in the fork version of this repository

[2018-09-11 06:48] zhouxinhe commented on #2163
I faced a bss region corruption issue days ago, crash happened when traversing this queue `g_desfree`...
I checked and found it's not initialized with sq_init (so I opened this issue).
Now I have found the root cause, which is not related to g_desfree initialization.
I will close this issue, thanks for checking.

[2018-09-11 06:48] #2163 closed

[2018-09-11 08:47] pholat commented on #2170
Hi @JunhwanPark, hope you are well,

Can I just update the binary, or do I have to somehow patch slsi code too?
We froze TizenRT version for stable development, moving to fork right now is also a lot of work - as configurations, our code etc. has to be updated.

What worries me the most is that this fail causes permanent freeze which needs human intervention for hardware reset - this is unmaintain

[2018-09-11 09:28] JunhwanPark commented on #2170
@pholat
I am not a wifi developer, but I have seen such an option. Could you check this option?
[code]

[2018-09-11 09:47] JunhwanPark commented on #2170
Oh, this issue is about that option. Sorry. I misunderstood your question.
There are a lot of changes to wifi. I can only tell you to check out the Fork version.

[2018-09-11 10:06] pholat commented on #2170
It's ok - we actually checked with this option and without.
I'll have to check how much work it will be for us to update to the fork, though we would rather use something considered stable.

But is there any hw watchdog? We would love to have option to hard reset the board in case of terrible terrible damage, it's always  better then sending service, and we don't get any guarantee that with update

[2018-09-11 10:13] JunhwanPark commented on #2170
Yes. There is. There are also examples related to it, please check.
(apps/examples/watchdog)

[2018-09-11 11:10] pholat commented on #2170
@JunhwanPark  Thanks, will try with hw watchdog first.
Then I guess we will move to last stable version of fork (right now it's: refs/tags/v1.0.12 ) - is it proper way to go? I mean I don't fully comprehend release & repository politics here.

[2018-09-11 13:56] pholat commented on #2170
@JunhwanPark
Ok :) adding wifi binary from fork didn't change much, fortunately hw watchdog works as desired - so we will stick with it for now.

[2018-09-11 23:10] JunhwanPark commented on #2170
@pholat @sunghan-chang
The Fork version https://github.com/SamsungARTIK/TizenRT release policy is as follows.

1. Major release versions will be issued in April (or May) and October each year.
2. We then issue a monthly release of the Minor release for bug fixes and stabilization.

The current version was released in August(18.05.03), and we are preparing for the major version in October(18.10.00)

[2018-09-23 10:18] manoharahk commented on #1865
Hello @shijiameng ,

I hope you found the solution.
Since there is no activity on this issue, I will be closing the issue. Please re-open if you met any problem.

[2018-09-23 10:18] #1865 closed

[2018-10-04 10:58] juhaki opened #2314 "Master branch source build failed."
juhaki@juhakidesk3:~/workspace/180927TizenRT$ git branch
* master
juhaki@juhakidesk3:~/workspace/180927TizenRT$ cat .git/config
[core]
	repositoryformatversion = 0
	filemode = true
	logallrefupdates = true
[remote "origin"]
	url = https://github.com/Samsung/TizenRT
	fetch = +refs/heads/*:refs/remotes/origin/*
[branch "master"]
	remote = origin
	merge = refs/heads/master
juhaki@juhakidesk3:~/worksp

[2018-10-04 12:42] sunghan-chang commented on #2314
@juhaki I think previous build results are remain with latest code. Our folder structure was changed. The board folder was splitted from arch and moved to os. But if you have build result which was made by previous structure, it can be failed.
Could you try to do `make distclean` and to remove objects manually?
[code]
at base directory of TizenRT

[2018-10-04 12:43] sunghan-chang commented on #2314
@juhaki I've tested it and it returns success and the travis (build tester) also returns success with latest codes.

[2018-10-05 02:45] juhaki commented on #2314
Thanks for guide.

I have been build succeed by the below step.
$ find . -name *.o -delete
$ cd os
$ make distclean
-> Set the board type on the TizenRT IDE "Select Board" -> Set the Application Manager on the TizenRT IDE -> Set the Kernel Config on the TizenRT IDE -> "Batch Build Project"

[2018-10-05 09:17] sunghan-chang commented on #2314
As you said, it works. Let's close this issue.

[2018-10-05 09:17] #2314 closed

[2018-10-09 07:19] zhouxinhe opened #2320 "os/fs/vfs/fs_poll: assert failed when using select sleep functionality"
Run below code snippet, assertion will happen in `poll()`.
[code]

in file fs_poll.c, at line 335:
Change `DEBUGASSERT((fds != NULL));` to be `DEBUGASSERT((nfds == 0) || (fds != NULL));`

[2018-11-02 11:21] JunhwanPark opened #2424 "[ST_THINGS] It is difficult to understand because arguments of functions and internal variable names are the same."
The version I verified is: f88cba70a39d7909ecfe98233c10508e09c00115

It is difficult to understand because arguments of functions and internal variable names are the same.
The following functions are in the `things_data_manager.c` file:
[code]

This function has an argument called `const char * res_type`.
But inside the function is a struct variable of `struct st_resource_type_s * res_type`.

So i

[2018-11-05 00:28] JunhwanPark commented on #2424
I will make the following changes.

[code]

[2018-11-05 00:28] #2424 closed

[2018-11-09 22:01] rzr commented on #480
May relate to:
https://github.com/Samsung/TizenRT/issues/322

[2018-11-15 08:51] rzr commented on #322
Does i2ctool detect any item on bus ?

You need to rebase on it to use it:
https://github.com/Samsung/TizenRT/pull/2439#event-1959436602

[2018-11-19 06:25] JunhwanPark opened #2457 "The `st_things` framework generates too many warning messages."
I changed and compiled as follows.
[code]
[code]
I was able to confirm that there were a lot of warning messages. There are no warnings in other parts of TizenRT, but they occur in the poisonous `st_things` and `iotivity`.

Is this option(-w) required?

[2018-11-19 06:32] JunhwanPark opened #2458 "I would like to know about the use of the `st_things_deinitialize` function."
In the `st_things` examples, I can see that the `st_things_initialize` function is being used. However, I could not find **deinitialize** which is expected to be used after **initialize**.

for example: sample_blink_things.c )
[code]
I would like to know about the use of the `st_things_deinitialize` function.

[2018-11-19 06:39] JunhwanPark opened #2459 "Object files remain after `make clean`."
I have tested it like this and want to delete all object files after build using the `make clean` command.
[code]

However, the following files remained.
[code]

[2018-11-19 06:52] JunhwanPark opened #2460 "`libcoap.a` file should be removed with `make clean` command"
I tested it as follows.

[code]
After the build, I wanted to delete the object files and library files I created using the `make clean` command.
[code]

I found this file (`../external/iotivity/iotivity_1.2-rel/extlibs/libcoap/libcoap.a`) to be left even though I cleaned the library files. There is no problem in operation even if this file is deleted.

[2018-11-19 12:06] SenthilKumarGS commented on #2460
PR: https://github.com/Samsung/TizenRT/pull/2463

[2018-11-19 12:20] SenthilKumarGS commented on #2460
@Hyunjun85 @juitem ,
Kindly review and approve #2463.

[2018-11-20 02:23] JunhwanPark opened #2464 "`iotivity_config.h` file should be removed with `make clean` command"
[code]

* `../framework/src/st_things/things_stack/iotivity_config.h`
This file exists in the st_things framework. Is this file required here?
After I deleted this file and rebuild it, I did not get any errors.

* `../external/iotivity/iotivity_1.2-rel/resource/c_common/iotivity_config.h`
This file is created when iotivity is built. It must be removed with the `make clean` command.

[2018-11-20 10:03] SenthilKumarGS opened #2466 "DoS (Denial of Service) issue"
DoS by connect to port 49153:

If we connect two times to port 49153 and disconnect without sending any data, the device get dos. We will not able to change state of bulb from cloud. Below code exploits the vulnerability:

netcat -w 1 "$DEVICE_IP" 49153 < /dev/null;
netcat -w 1 "$DEVICE_IP" 49153 < /dev/null;

[2018-11-20 10:04] SenthilKumarGS commented on #2466
PR:
https://github.com/Samsung/TizenRT/pull/2465

[2018-11-22 00:49] JunhwanPark commented on #2460
@SenthilKumarGS  Thank you for making patch.

[2018-11-22 00:49] #2460 closed

[2018-11-22 10:11] SenthilKumarGS commented on #2466
Patch merged. Hence closing the issue. If issue still occurs, it will be reopened.

[2018-11-22 10:11] #2466 closed

[2018-11-22 10:13] SenthilKumarGS commented on #2459
@harish-191
Check this issue.

[2018-11-22 10:13] SenthilKumarGS commented on #2464
@harish-191
Check this issue.

[2018-11-22 10:19] harish-191 commented on #2459
I fixed this issue and created the PR. It is in review.

[2018-11-22 10:37] SenthilKumarGS commented on #2459
@Hyunjun85 @sangwon03
To remove the object files under **os** directory,  could you please inform the person in-charge?

[2018-11-23 11:00] dellhart opened #2481 "Artik 055s fall into infinite loop when calling pow() with specific value"
Related post: [thread in artitk forum](https://developer.artik.io/forums/t/artik-055s-halt-when-calling-pow-with-specific-value/7598)

I'm not sure here is right place to post SDK related(ARTIK 055s, SDK version is 1.7) issue, so if I am wrong, please let me know.

As title indicates, calling the function **double pow(double x, double e)** with specific x make Artik 055s fall into infinite loop. O

[2018-11-24 13:00] SenthilKumarGS opened #2488 "IoTivity APIs are not used with Thread Safety"
IoTivity APIs in ocstack.h are supposed to be called by only one thread at a time.
As it's currently not addressed in ST Things Framework (framework/src/st_things), it's open for thread synchronization issues.

[2018-11-26 04:55] sunghan-chang commented on #2481
@dellhart Thank you for raising issue. We are under investigation and let you know a result.

[2018-11-26 07:39] SenthilKumarGS commented on #2458
@JunhwanPark
st_things_deinitialize() is supposed to be called during app termination which is not handled by the samples..

[2018-11-26 11:01] JunhwanPark commented on #2458
@SenthilKumarGS
The samples included in TizenRT do not call `st_things_deinitialize()` functions. If possible, include it in the sample to use the `st_things_deinitialize()` function.

[2018-11-26 14:19] SenthilKumarGS commented on #2488
@Hyunjun85
Please review and merge.

[2018-11-27 11:48] harish-191 commented on #2464
I resolved the issue and created the PR<https://github.com/Samsung/TizenRT/pull/2497/files>.

[2018-11-27 15:11] SenthilKumarGS commented on #2458
Sure @JunhwanPark

[2018-11-29 03:35] SenthilKumarGS opened #2505 "Add Unit Test Cases for st_things framework"
Currently there are no unit test cases for st_things framework.
Purpose of this issue is to add them.

[2018-11-29 03:38] SenthilKumarGS commented on #2505
Initial version TCs are added: https://github.com/Samsung/TizenRT/pull/2494

[2018-12-03 08:49] harish-191 commented on #2464
PR has been merged.

[2018-12-03 09:40] SenthilKumarGS commented on #2464
@harish-191,
Close this issue.

[2018-12-03 10:06] JunhwanPark commented on #2464
@SenthilKumarGS @harish-191
I checked it. Thank you.

[2018-12-03 10:06] #2464 closed

[2018-12-04 05:21] SenthilKumarGS opened #2520 "framework/st_things: Remove POST request handling for /sec/provisioninginfo"
POST request for /sec/provisioninginfo is handled for the following cases:-
1. Reset - Implemented.
2. Stop SoftAP - Partially implemented.
3. Abort Request - Partially implemented.

Case 2 and 3 are not fully implemented and hence not in use.
Case 1 is implemented but it won't be triggered by ST Cloud (Cloud Reset feature is currently not used).

So we can remove the code for all the above cases.

[2018-12-05 05:48] SenthilKumarGS commented on #2520
PR to remove 'Stop SoftAP': https://github.com/Samsung/TizenRT/pull/2525

[2018-12-06 08:15] juhaki opened #2527 "Mater branch build error - git log : commit f6d6e69339c2b2eb9a4d86ac98026c64eadfe1c2"
juhaki@juhakidesk3:~/workspace/181030TizenRT_SR_onytest1$ git log
commit f6d6e69339c2b2eb9a4d86ac98026c64eadfe1c2
Merge: 75e4a66 1c16e23
Author: Hyunjun Kim <36025642+Hyunjun85@users.noreply.github.com>
Date:   Thu Dec 6 14:55:37 2018 +0900

    Merge pull request #2525 from SenthilKumarGS/remove_stop_softap

    framework/st_things: Remove unused "Stop SoftAP from Cloud" feature.

commit 75e4a66d

[2018-12-07 00:39] jeongchanKim commented on #2527
Which config did you try to build? I tested with latest code for artik053/tc, artik053/st_things, but there is no build error.
Please share your configuration and test guide.

[2018-12-07 06:43] jeongchanKim commented on #2527
I checked your .config file. I think you had a mistake for applying changes.
In your config file, there are
[code]
CONFIG_RAM_START and CONFIG_RAM_SIZE are not used anymore.
They are changed to CONFIG_RAM_REGIONx_START and SIZE.

You can set like below:
CONFIG_RAM_REGIONx_START="0x02023800"
CONFIG_RAM_REGIONx_SIZE="968704"

[2018-12-07 06:47] sunghan-chang commented on #2481
@dellhart This is fixed by #2496 . Could you check yours with that?

[2018-12-07 06:52] juhaki commented on #2527
curretly.. latest commit id is "87ac1a57d93819497bdd26b5ff71d1d8d10e5d6e".
Also. the commit is build succeed.

=====================================================
commit 87ac1a57d93819497bdd26b5ff71d1d8d10e5d6e
Merge: fff4071 b502938
Author: sunghan-chang <sh924.chang@samsung.com>
Date:   Fri Dec 7 14:27:51 2018 +0900

    Merge pull request #2496 from drashti304/mathlib

    libc/math: Update l

[2018-12-07 06:52] #2527 closed

[2018-12-07 07:55] dellhart commented on #2481
@sunghan-chang Please let me notify the result after i change the build environment to this codebase. due to I'm using Artik IDE + SDK combo now so can't apply this change to my end.

[2018-12-07 13:01] SenthilKumarGS commented on #2520
PR to remove 'abort': https://github.com/Samsung/TizenRT/pull/2535

[2018-12-07 14:12] SenthilKumarGS commented on #2458
@Hyunjun85 & @JeongJunSik,

I need your opinion. It's very important.

**Background:-**
1 year ago, public API (st_things_stop) was removed because it was not needed.
PR: https://github.com/Samsung/TizenRT/pull/683#discussion_r141527637

**Issue:-**
st_things_deinitialize() is not doing complete cleanup as it doesn't destroy iotivity resources and threads. So if we provide a usage scenario for thi

[2018-12-11 10:12] juhaki opened #2542 "get_json_string_from_securestorage BS occurence by see_read_secure_storage fail."
get_json_string_from_securestorage BS occurence by see_read_secure_storage fail.

Currently.. code..
=====================================
char *get_json_string_from_securestorage(void)
{
	int ret = 1;
	char *empty = "";
	char *json_str = NULL;
	unsigned char read_data[SECURESTOARGE_MAX_DATA_SIZE * 2];
	unsigned int read_size[2] = {SECURESTOARGE_MAX_DATA_SIZE, SECURESTOARGE_MAX_DATA_SIZE};

	int e

[2018-12-13 10:37] harish-191 commented on #2457
@JunhwanPark  I handled this issue. and  I already created the PR.
https://github.com/Samsung/TizenRT/pull/2528/files

[2018-12-14 05:20] SenthilKumarGS commented on #2520
Code changes are merged.

[2018-12-14 05:20] #2520 closed

[2018-12-14 09:58] shijiameng opened #2549 "wide character array initialized from incompatible wide string"
Hi,

We need wide characters (unicode) in our program, so we used wchar_t type to store wide strings as such form:  wchar_t str[] = L"foo"; However, it couldn't be compiled with an error, saying "wide character array initialized from incompatible wide string", while in ubuntu,  it was OK through gcc.
Is there any extra setting to support such wchar_t?

[2018-12-21 14:32] VtpVlan-oo7 opened #2560 "setting up content-type header in curl"
hi folks,
i'm working on tizen  os with gearfit 2 pro smart watch
and want to deploye data from gearfit 2 pro to azure by using curl command for storing data into microsoft azure table storage account .

curl_easy_setopt(curl, CURLOPT_URL, "http://192.168.99.106:3000/getData/");
	curl_easy_setopt(curl, CURLOPT_CUSTOMREQUEST, "POST");

//	struct curl_slist *headers = NULL;
//	    headers = curl_sli

[2018-12-24 01:42] JunhwanPark commented on #2459
in b73e522da9d96e62dedda59329e4ac7c56a07025
[code]

[2018-12-26 05:55] zhouxinhe commented on #2320
#2568

[2018-12-26 05:55] #2320 closed

[2019-01-16 09:48] JunhwanPark commented on #2459
@harish-191
I have confirmed that all object files are removed. Next, let us know what PR has solved this issue.

[2019-01-16 09:48] #2459 closed

[2019-01-22 18:22] manuelgavidia opened #2619 "Does wpa_supplicant is integrated with mbedtls?"
https://github.com/Samsung/TizenRT/blob/0f4f2119a8f5a203e3f7d1edd037100db7d0793a/external/wpa_supplicant/src/crypto/tls_internal.c#L16

If so ... where are the files of this integration? and how to compile it?

[2019-02-12 06:15] harish-191 commented on #2457
@JunhwanPark
Hi,
PR has been merged. Please can you close this issue.

[2019-02-12 07:31] JunhwanPark commented on #2457
Hi @harish-191 ,
I also can check many warnings. (795c4d4968)

[2019-02-12 07:36] JunhwanPark commented on #2457
When I removed the temporary error avoidance method, I was still able to meet a build error.
[code]

[code]

[2019-03-29 07:04] kishore-sn opened #2860 "NXP imxrt1050evkb binary download and boot up"
I am trying to download TizenRT binary built with imxrt1050-evk/nxp_demo config onto the NXP 1050 evkb board. But when we boot the board our changes are not reflected. It seems that the binary download is not successful. So, please provide below information.

- What are the exact steps to download binary?
- How does the drag and drop function work?
- What is the boot up architecture for imxrt proj

[2019-03-29 07:45] sunghan-chang commented on #2860
@HarrisonChoi750405 Could you check this?

[2019-03-29 08:25] HarrisonChoi750405 commented on #2860
What are the exact steps to download binary?
: I am currently using the following two ways
 1) select the d menu in build menu when using dbuild menu
 2) copy tinyara.hex file to RT1050-EVK folder that is detected automatically when connecting iMXRT1050-evk by using USB cable

How does the drag and drop function work?
: Can you explain what is the drag and drop function?

What is the boot up archi

[2019-03-29 11:27] kishore-sn commented on #2860
What are the exact steps to download binary?
: I tried below steps
- Add printf("Hello world\n") in nxp_demo_config.c
- Build with imxrt1050-evk/nxp_demo config
- Connect board.  RT1050-EVK drive is shown
- copy tinyara.hex to  RT1050-EVK drive
- wait for 30 seconds
**-  RT1050-EVK drive goes away.
-  RT1050-EVK does not come back**
- Try to disconnect and reconnect board
- Now  RT1050-EVK and tty

[2019-03-29 13:42] HarrisonChoi750405 commented on #2860
Please let me know the version that you are testing.
I want to test it with your version in my side.

I have ever met the same problem that Fail.txt is shown in RT1050-EVK folder and downloading failed.
But it is strange for me that you always meet the same problem.

In my case, I can see the normal starting log after copying tinyara.hex and waiting for dectecting RT1050-EVK foloder again and push

[2019-03-30 05:09] kishore-sn commented on #2860
I am testing the latest code in Github master branch.
I just tried to add a printf statement in nxp demo file.

I am not getting the Fail.txt every time. It happened only some times. But after that I am not able to download the new binary.

When I copy tinyara.hex to RT1050-EVK folder, after some time the RT1050-EVK folder does not come back at all.

[2019-04-01 00:29] HarrisonChoi750405 commented on #2860
I am meeting the same problem.
I asked NXP's main support team about the another way to download built image.
I will share the guidance if I have any answer from him.

[2019-04-02 12:40] kishore-sn opened #2870 "Kernel debug logs not working in NXP"
Hi,
When I use imxrt1050-evk/nxp_demo config and enable kernel logging, then the board fails to boot up. No logs are coming on serial console.

I have enabled below configs:
#
# Debug Options
#
CONFIG_DEBUG=y
CONFIG_DEBUG_ERROR=y

[2019-04-02 12:43] kishore-sn commented on #2870
@HarrisonChoi750405 Can you please help with this issue.
If kernel logs are disabled, there is no way to debug any issue.

[2019-04-02 12:44] sunghan-chang commented on #2870
@HarrisonChoi750405 Hello. We face an issue with debug message enabled.

[2019-04-03 04:34] #316 closed

[2019-04-03 04:35] #1337 closed

[2019-04-03 04:41] sunghan-chang commented on #2481
@dellhart It's old issue so that let's close now. And when you have an issue, could you reopen this or open new one?

[2019-04-03 04:41] #2481 closed

[2019-04-03 04:56] Hyunjun85 commented on #2457
please refer below PR.
It has been merged.
https://github.com/Samsung/TizenRT/pull/2550

[2019-04-03 05:03] Hyunjun85 commented on #2458
When we have discussion about this. we can not find out any requirements.
And we have the pr(it was closed). but it need to get some communicate with stakeholders more.
https://github.com/Samsung/TizenRT/pull/2573

[2019-04-03 05:03] #2458 closed

[2019-04-03 05:28] manoharahk commented on #2860
Hello @HarrisonChoi750405

Is there any flash programming tool  available for NXP IMXRT-10xx series to program binaries directly at specific flash offset?

[2019-04-18 03:52] zhouxinhe opened #2969 "os/kernel: pthread_mutex_* functions is called in non-pthread task"
I can find codes (invoking pthread_mutex_(un)lock() in non-pthread task) in TizenRT:
when pthread_mutex_lock() is called, pthread_mutex_add() would be  executed (in case CONFIG_PTHREAD_MUTEX_UNSAFE isn't defined)...
[code]
in above code, it assumes that current task is a pthread task.
but it's not sure, so I try to add below assertion code in pthread_mutex_add():
[code]
then I found asstion as bel

[2019-04-18 03:52] zhouxinhe commented on #2969
@sunghan-chang

[2019-04-18 06:40] zhouxinhe commented on #2969
I checked latest code of Nuttx,
It's fixed as below:
[code]

[2019-04-22 10:57] xixidodo commented on #2969
if so, then it is really risky to  invoke pthread_mutex_* in non-pthread task, causing undefined behavior which is hard to find the root cause.
Incorrect usage shall be fixed, and protection shall be added.

[2019-04-26 11:51] sunghan-chang commented on #2969
@zhouxinhe @xixidodo Next week, I will check all of pthread APIs and will update them.

[2019-04-26 11:52] sunghan-chang commented on #2969
@zhouxinhe Thank you for notice

[2019-05-02 13:17] sunghan-chang commented on #2860
Here is a guidance of flashing.
In IMXRT1050RM.PDF.

8.3.1 Boot mode pin settings
The device has four boot modes (one is reserved for NXP use). The boot mode is selected
based on the binary value stored in the internal BOOT_MODE register.
The BOOT_MODE is initialized by sampling the BOOT_MODE0 and BOOT_MODE1
inputs on the rising edge of the POR_B. After these inputs are sampled, their subsequent
s

[2019-05-02 13:17] #2860 closed

[2019-05-02 13:17] sunghan-chang commented on #2870
This was modified.

[2019-05-02 13:17] #2870 closed

[2019-05-14 09:15] ChiShaoJun opened #3123 "esp32_DevKitC arch/stdarg.h: No such file or directory"
Scons installed.
select "Menuconfig" External Libraries->enable / disable iotivity stack
select "Build with Current Configurations" Error
log
[code]

[2019-05-14 09:50] ChiShaoJun commented on #3123
I added stdarg.h file in ~/TizenRT/os/arch/xtensa/include
[code]
also error

[2019-05-14 10:33] xixidodo commented on #3123
@ChiShaoJun  Glad that you are interested in TizenRT.
IoTivity/SmartThings on ESP32 is not released yet, and we are working on it now on esp_wrover_kit.
It is estimated that it shall be available soon, maybe end of this month.

We will keep you posted with related PR here.

[2019-05-14 10:46] zhouxinhe commented on #3123
@ChiShaoJun
Hello, I also encountered this building error, I solved it as you did, and it's working fine.
Please make clean and try again.

[2019-05-15 01:46] ChiShaoJun commented on #3123
1.git pull
2.I added stdarg.h file in ~/TizenRT/os/arch/xtensa/include
3.Build Dist-Clean
4.Menuconfig
5.Build with Current Configurations
error log
[code]

[2019-05-18 02:14] zhouxinhe commented on #3123
@ChiShaoJun
Hello, the error above is a dependency problem,
you have enabled iotivity stack, but network hasn't been enabled.
Unfortunately even if you enable network, there's still some errors...
IoTivity/SmartThings on ESP32 is not released yet, we will finish it in the near future.

[2019-05-23 11:14] sunghan-chang opened #3196 "Two same files in esp_idf_port"
Hello.

There are two `eap_common.c` in esp_idf_port.
Because of that, it shows below

[code]

When esp_idf_port is built, one of file will be overlapped.
Please check this.

[2019-05-23 11:16] sunghan-chang commented on #3196
@SRCN-LiQin @zhouxinhe @ChinaTizenRT @xiarihf @xixidodo @glb1013 Could you check this?

[2019-05-24 02:00] ChinaTizenRT commented on #3196
we check this issue, it does., thanks.

[2019-05-24 02:27] #3196 closed

[2019-05-29 13:53] sunghan-chang opened #3249 "build error on esp"
Hello.

[code]
When we execute `make clean` or `make distclean` without .config, we can meet above.
But I see no `CONFIG_XX` in Makefile of esp_idf_port/soc.
Could you let me know why you include .config there?

[2019-05-29 13:54] sunghan-chang commented on #3249
@SRCN-LiQin @zhouxinhe @ChinaTizenRT @xiarihf @xixidodo @glb1013 Could you check this?

[2019-05-30 01:44] ChinaTizenRT commented on #3249
tks for your notice. this place does not need include .config, if adding,  had better using -include instead of include as .config is file created, not original one.

below PR is opened for that.
https://github.com/Samsung/TizenRT/pull/3250

and I checked external/esp_idf_port/spi_flash also has similar issue,
but PR https://github.com/Samsung/TizenRT/pull/3060
discard the spi_flash itself's makef

[2019-05-30 03:36] sunghan-chang commented on #3249
@ChinaTizenRT I did both. Thank you for resolving.

[2019-05-30 03:37] sunghan-chang commented on #3123
@ChiShaoJun Origianl issue was resolved and PR to use st-things on esp was raised. Let's close this issue. If you have anything on st-things, could you open another issue?

[2019-05-30 03:37] #3123 closed

[2019-05-30 09:19] btheosam opened #3258 "User space entry addresses is hard coded."
User space entry addresses is hard coded. #3258
It depends on CONFIG_FLASH_PART_SIZE="256,256,4096. Otherwise user binary will be flashed based on CONFIG_FLASH_PART_SIZE="256  and this fixed value will be  used in Code. Lot of trouble. Either fix CONFIG_FLASH_PART_SIZE="256,  (make it NOT configurable) and use fixed value or calculate the start address from partititon and use it.

_Originally post

[2019-05-30 13:05] sunghan-chang commented on #3258
@btheosam I agree your opinion. We already get a direction to do that. First step is #3223 . Next will be what you say.

[2019-05-30 14:28] sunghan-chang commented on #3249
make[3]: Entering directory '/home/sunghan/Work/TinyAra/Forked_TizenRT/external/esp_idf_port/esp32'
Makefile:1: /home/sunghan/Work/TinyAra/Forked_TizenRT/os/.config: No such file or directory
make[3]: *** No rule to make target '/home/sunghan/Work/TinyAra/Forked_TizenRT/os/.config'.  Stop.
make[3]: Leaving directory '/home/sunghan/Work/TinyAra/Forked_TizenRT/external/esp_idf_port/esp32'
Makefile:1

[2019-05-31 01:28] ChinaTizenRT commented on #3249
This PR is for the issue.  I also verify it by run "make clean" withou .config file
no error shows up in esp_idf_port.

https://github.com/Samsung/TizenRT/pull/3267

[2019-05-31 05:17] #3249 closed

[2019-06-04 08:45] glb1013 opened #3297 "tc_clock_clock_abstime2ticks fails"
The testcase is changed to use the virtual driver.
Old version clock_abstime2ticks(CLOCK_REALTIME, &base_time, &base_tick) will return the OK and the base_tick holds the value of base_time and it is -1. So it passes.
But in the virtual driver, the return value -1 of ioctl() has two cases: the first one is the clock_abstime2ticks() return value is not OK, the second one is the clock_abstime2ticks()

[2019-06-04 09:33] glb1013 commented on #3297
[tc_clock_clock_abstime2ticks] FAIL [Line : 181] clock_abstime2ticks : Values (b
ase_tick == 0xffffffff) and (-1 == 0xffffffff) are equal

[2019-06-04 10:54] sunghan-chang commented on #3297
@YiHyunJin Could you check this issue?

[2019-06-04 12:27] YiHyunJin commented on #3297
@sunghan-chang
yes. i will check.

[2019-06-12 03:37] sunghan-chang commented on #3297
@glb1013 @YiHyunJin modified.
1. Near end of sec, it always can be failed with current testcase.
2. The tick numbers of current time does not make sense.

Could you test it on esp? Because it is not reproducible for us.

[2019-06-12 06:49] glb1013 commented on #3297
@YiHyunJin @sunghan-chang
In the  older version of testcase(before commit 61097b5efbae171010c0e33be951efebf278b57c committed on 15 Jan, 2019), the base_time is not increased by 1. I guess it tests the second failure branch of clock_abstime2ticks() which return OK but the base_tick value is -1, and it means the input abstime is before currtime (it means clock_abstime2ticks() starts time).
So, now t

[2019-06-14 12:54] sunghan-chang commented on #3297
@glb1013 Ok that means you run another application with testcase. Our testcase does not concern running with multiple application. Without another running application, it can not be past.
If it has a problem only on it, we can use big offsets at base_time and comparission_time.
Anyway, is it reproducible for you? As I said before, it isn't for us.

[2019-06-17 05:19] sunghan-chang commented on #3297
@glb1013 The purpose of clock_abstime2ticks() is getting system time ticks from absolute timespec delay. Previous testcase is not appropriate I think. So we modified it as shown below:
1. getting ticks of 1 sec delay
2. getting ticks of 2 sec delay
3. calculating difference between 2nd and 1st
4. check whether 3rd is ticks of 1 sec or not.
With new mechanism, we don't need to get -1 as ticks.

And

[2019-06-18 08:58] #3297 closed

[2019-07-10 06:51] ChinaTizenRT opened #3541 "Build error on esp32 board as network code modifcation."
There is build issue for esp32 board, it's introuduced by network code modifcation.
Request network owner to help fix this issue.

build command:
1) ./tools/configure.sh  esp_wrover_kit/tash_wlan
2) make
=====================================================
error logs
netdev/netdev_dhcpd.c: In function 'netdev_dhcp_server_status':
netdev/netdev_dhcpd.c:112:15: error: 'struct netif' has no member n

[2019-07-10 10:38] #2619 closed

[2019-07-11 04:43] #2505 closed

[2019-07-11 04:44] #2457 closed

[2019-07-22 07:36] SeonghoByeon commented on #3541
Hi @ChinaTizenRT, the error from DHCP is solved by https://github.com/Samsung/TizenRT/pull/3588. Please refer to it. However, still there is another problem related with partitions. To handle it, I think you need to discuss it with @jeongchanKim and @YiHyunJin. Thanks.

[2019-07-22 11:24] ping996 opened #3591 "can't load the emulator from the IDE tizen studio."
I can't load the emulator from the tizen studio when click the tools->emulator managers.
error: could not create the java virtual machine. it can't find the org.tizen.device.manager.Main,
I also can't find this jar package in all installed directory.
I use the open JDK 10 and set the JAVA_HOME and path OK by input java -version in cmd.
what's problems?

[2019-07-24 04:55] sunghan-chang commented on #3591
@ping996 Sorry for late reply. Let us check it first.

[2019-07-24 06:22] hasw7569 commented on #3591
@ping996
Are you using Tizen RT IDE ?
To check this issue, I installed the Tizen RT IDE.
However, I did not find the emulator manager in the tools menu.

If you using Tizen RT IDE, what board are you using ?

In addition, the following link provides a debugging guide. Have you followed this guide?
https://developer.tizen.org/development/tizen-studio/rt-ide/getting-started/debugging-project

[2019-07-26 01:06] ping996 commented on #3591
@hasw7569  I installed the tizen studio, not the RT version.  now It's working now by changed some setting of my window 10 system.

[2019-08-01 07:41] sunghan-chang commented on #3591
@ping996 Actually we have separated RT IDE in tizen studio. Please refer @hasw7569 's link and let us know when you have an issue.

[2019-08-01 07:41] #3591 closed

[2019-08-01 07:42] sunghan-chang commented on #3541
@ChinaTizenRT @SeonghoByeon modified what you said. If you have an issue, please let us know.

[2019-08-01 07:42] #3541 closed

[2019-09-10 12:32] prashantrar opened #3716 "Does TizenRT support ARM Cortex-M33?"
I read the porting guide document " TizenRT/docs/HowToAddnewBoard.md "

There is a line in there that states: "Currently, TizenRT supports only ARM architecture with armv7-m, armv7-r and common folders."

Does this mean that TizenRT cannot be ported to other arm architectures. I am specifically concerned about Cortex-M33

[2019-09-11 01:42] sunghan-chang commented on #3716
@prashantrar Hello. It means that currently we support only them (Actually we support xtensa architecture as well). It does not mean "cannot be ported". We were already using Cortex-M33 in internal project.

[2019-09-11 03:55] sangam-swami commented on #3716
As mentioned TizenRT can be ported to other arm architectures, Specifically we using Cortex-M33 internally without security extension support as of now.

[2019-09-11 09:36] prashantrar commented on #3716
Hello All, Thanks for the clarification, I am closing this issue now.

[2019-09-11 09:36] #3716 closed

[2019-09-20 08:18] ChinaTizenRT opened #3796 "Regarding TizenRT git log format."
When typing "git log" in TizenRT,  much similar commit shows:
"Merge pull request #xxx  from xxx",
normally this commit can't be be seen in other open source.
I wonder why keeping it in git log history, is there any advantage.
otherwise PR can be merged via button "Rebase and merge"
instead of default "Merge pull request" in githhub merge page.
it seems that above log "Merge pull request #xxx  fro

[2019-09-20 10:19] sunghan-chang commented on #3796
@ChinaTizenRT Thank you for good suggestion. Actually I don't like it eigher but it was a suggetion of SW engineering team introduced github. Let's discuss it internally.

[2019-09-26 12:22] sunghan-chang commented on #3796
@ChinaTizenRT Thank you for good suggestion. We decided using 3rd option you said.

[2019-09-27 10:32] #3796 closed

[2019-10-01 06:58] ck11a opened #3850 "Review result of /docs"
@sangwon03

Hello, SangWon

I'm Sang-A Lee from SE team.
I have completed the documentation review of TizenRT's docs folder.
After the GBM release, please modify when you can afford, and attach the modified PR to the answer.

Thank you.

[README.md]

\# 1. line 11
-Original

-Suggestion
- [Environment Setup](#environment-setup)
- [How to Build](#how-to-build)
- [Supported Board / Emulator](#suppor

[2019-10-26 02:31] ChinaTizenRT opened #3986 "TizenRT security module build error"
File: framework/src/security/security_ss.c
Line: 109, 129
cause:  logging function may be null, leads to unused variable.
error log:
src/security/security_ss.c: In function 'ss_get_size_secure_storage':
src/security/security_ss.c:109:23: error: unused variable 'ctx' [-Werror=unused-variable]
  struct security_ctx *ctx = (struct security_ctx *)hnd;
                       ^~~
src/security/security_s

[2019-11-09 18:06] HotCodeworker opened #4013 "How to import and build on TizenRT Studio"
I installed Tizen Studio 3.5 with RT IDE on Ubuntu 64bit as next link:
[https://developer.tizen.org/development/tizen-studio/download](https://developer.tizen.org/development/tizen-studio/download)

But, I can manage a project because the GUI menus of RT IDE installed on my Ubuntu are different from such as next link: [https://developer.tizen.org/development/tizen-studio/rt-ide/getting-started/man

[2019-11-09 18:51] HotCodeworker opened #4014 "Can't launch TizenRT studio!!!"
I just installed the TizenRT IDE using Tizen Studio 3.5 with RT IDE installer:[https://developer.tizen.org/development/tizen-studio/download](https://developer.tizen.org/development/tizen-studio/download)

However, I can't launch the RT IDE such as below attached picture:
![tizenRT-err1](https://user-images.githubusercontent.com/11155677/68533528-44deeb80-036d-11ea-8067-a7a2dfeed000.png)

I was go

[2019-11-09 19:36] HotCodeworker commented on #4013
In addition, I installed openJDK such as follows: [https://developer.tizen.org/development/articles/openjdk-and-openjfx-installation-guide](https://developer.tizen.org/development/articles/openjdk-and-openjfx-installation-guide)

[2019-11-09 19:36] HotCodeworker commented on #4014
In addition, I installed openJDK such as follows: [https://developer.tizen.org/development/articles/openjdk-and-openjfx-installation-guide](https://developer.tizen.org/development/articles/openjdk-and-openjfx-installation-guide)

[2019-11-11 05:23] HotCodeworker opened #4015 "Support of RT IDE on esp32 board?"
I'm using on ESP32 board and RT IDE.
On RT IDE, I used "Batch build project".
However, I can not use the function like "Application Manager" and "Kernel config" because RT IDE might not enable the functions.

Originally, the functions should be enabled as next links:[https://developer.tizen.org/development/tizen-studio/rt-ide/getting-started/managing-project](https://developer.tizen.org/developmen

[2019-11-11 08:35] HotCodeworker opened #4016 "Support on ESP32-DevKitC board?"
I was compiling on ESP32-DevKitC board.
Then when we selected download option and performed it using "./dbuild downlaod", the error occured like this: "there is no esptool.py under the /home/hotcoder/git/TizenRT/build/tools/esp32/esptool_py/esptool"

I think the file, esptool.py was NOT created after compiling and building using "ESP32-DevKitC board" configuration on terminal invoked by "./dbuild.

[2019-11-11 14:03] HotCodeworker opened #4019 "booting error - on ESP32-DevKitC board"
I was working on ESP32-DevKitC board right after downloading esptool.py apart from git([https://github.com/espressif/esptool/blob/master/esptool.py](https://github.com/espressif/esptool/blob/master/esptool.py)) because the error as "there is no esptool.py" occured.

So like this method, I succeeded flashing image but the board couldn't boot normally with the following logs:

----------------------

[2019-11-11 14:15] HotCodeworker commented on #4013
When using oracle JDK, this issue could be solved. This issue might happen when using openJDK.

[2019-11-11 14:16] HotCodeworker commented on #4014
When using oracle JDK, this issue could be solved. This issue might happen when using openJDK.

[2019-11-12 00:55] pillip8282 commented on #3986
Thanks for your report. the patch is uploaded at https://github.com/Samsung/TizenRT/pull/4020

[2019-11-12 02:17] ChinaTizenRT commented on #4019
@HotCodeworker HotCodeworker ,   I pull TizenRT latest code
(id: 72f93d63e57fcedd80c51b9adef57b32eb5d19db), booting is okay,
pls check below steps.
1)  use esp32_DevKitC/hello_with_tash defconfig.
2)  run "make download ALL" to flash image for the first time.
if above steps isn't okay for you, before flashing, pls erase the entire flash via command
3) make download erase_flash. then switch to step

[2019-11-12 02:19] xiarihf commented on #4016
Dear HotCodeworker, the esptool.py is the submodule of TizenRT due to the license, so please get the submodules first by using following git command.
            git submodule update --init --recursive
We will add a checking operation before downloading images soon.
Thanks for your feedback.

[2019-11-12 02:42] ChinaTizenRT commented on #4019
from the error log
E (46) flash_parts: partition 2 invalid - offset 0x10000 size 0x280000 exceeds flash chip size 0x200000
seems that image size is bigger than your chip size 2MB.

as i know.  there are 4MB SPI FLASH in esp32_DevKitC, pls check your defconfig like below
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

[2019-11-12 03:47] zhouxinhe commented on #4015
Hello HotCodeworker

To use `Application Manager` and `Kernel Config` function:
1. Select the project in the Project Explorer view.
2. Click the arrow next to the Build TizenRT Project icon.
  Then you can see `Application Manager` and `Kernel Config` items  in the drop-down menu.

I tried to select `Application Manager`, but no dialog appeared (I don't know why...).
Fortunately, we can manage app

[2019-11-12 10:45] manishtr commented on #4013
Hi,
Please install RT ide from http://10.113.138.168/packages/tizen_studio/releases/Tizen_Studio_3.3/ , you can install RT_Tizen_Studio_3.3_ubuntu-32.bin or RT_Tizen_Studio_3.3_ubuntu-64.bin.
As RT ide is not supported from 3.5 hence the public link does not have the installer.
RT ide does not support OpenJDK or Java 12.
You need to use java 8.
Regards,
Manish

[2019-11-12 10:47] manishtr commented on #4014
Hi,
RT ide does not support OpenJDK or Java 12.
You need to use java 8.
Please try to install and use a new workspace.
Regards,
Manish

[2019-11-12 10:52] sunghan-chang commented on #3986
@ChinaTizenRT #4020 was merged. If you have a problem, please (re) open an issue.

[2019-11-12 10:52] #3986 closed

[2019-11-12 11:28] sunghan-chang commented on #4013
@HotCodeworker I am sorry for inconvenient. We will add the sentence to say Java 8 in guidance.

[2019-11-12 11:29] sunghan-chang commented on #4013
@HotCodeworker Let's close this and manage this issue in #4014 .

[2019-11-12 11:29] #4013 closed

[2019-11-12 11:29] sunghan-chang commented on #4014
@HotCodeworker I am sorry for inconvenient. We will add the sentence to say Java 8 in guidance.

[2019-11-12 11:30] sunghan-chang commented on #4015
Let me check it.

[2019-11-12 11:53] manishtr commented on #4014
I have raised the PR for Documentation update at https://github.com/Samsung/tizen-docs/pull/937

[2019-11-12 13:01] HotCodeworker commented on #4019
Thanks for response and I've solve it,

[2019-11-12 13:07] HotCodeworker commented on #4015
In addition, my issue are only about ESP32_DevKit board.
More issue with ESP32_DevKit board is also that I couldn't debug with this ESP32 board on RT IDE beacuse RT IDE poped-up like that "there is no debug.xml".

[2019-11-12 13:09] HotCodeworker commented on #4016
Thanks for your reply and I've solve it.

[2019-11-12 13:14] HotCodeworker opened #4029 "Debug problem on RT IDE with ESP32_DevKit board?"
I'll let you know my issue are only about ESP32_DevKit board.
The issue with ESP32_DevKit board is that I couldn't debug with this ESP32 board on RT IDE because RT IDE popped-up like that "there is no debug.xml".

[2019-11-12 13:28] HotCodeworker opened #4030 "The problem with openinig terminal on RT IDE with ESP32_DevKit board."
This issue is the problem with opening terminal on RT IDE and this may be not the issue.
When I tried to open terminal on "/dev/ttyUSB0" on Ubuntu PC which usb-connected with ESP32 board, I should have done first like this command, "sudo chmod 777 /dev/ttyUSB0" on the bash terminal apartly from on RT IDE.

My idea is that it would be nice if there would not need more user's inconvience like above.

[2019-11-12 13:48] HotCodeworker opened #4031 "No memory information after building project on ESP32_DevKitC board."
The log are as follows after build project.

-------------------------------------------------------------------------------------
....
make[1]: Leaving directory '/root/tizenrt/framework'
make[1]: Entering directory '/root/tizenrt/os/arch/xtensa/src'
make[2]: Entering directory '/root/tizenrt/os/board/esp32_devkit/src'
make[2]: Nothing to be done for 'all'.
make[2]: Leaving directory '/root/tizen

[2019-11-12 14:35] HotCodeworker opened #4032 "No flash functionality on RT IDE with ESP32_DevKitC"
The flash functionality on RT IDE with ESP32 board was not enabled and disabled so I couldn't use flash function with SP32_DevKitC board. Of course, I could use this function using "dbuild.sh" on terminal. This issue is only on RT IDE.

[2019-11-12 14:40] HotCodeworker opened #4033 "The problem with the build option on ESP32_DevKitC!"
On RT IDE, the error log with performing "build project" are follows after I selected the build option as both "tash_wlan" and "tc".

----------------------------------------------------------
Kenel config execution failed.
Please check your configuration again.
----------------------------------------------------------

But I could build with above build options apartly on terminal.

[2019-11-12 15:18] HotCodeworker opened #4034 "RT IDE supports SmartThings on ESP32 ?"
I'm using TizenRT Studio 2.0 on Ubuntu.
I wonder if TizenRT Studio version 2.0 is able to be used as an IDE for developing IoT applications with SmartThings framework and ESP32_DevKitC board.

If possible, could you let me know informations about guides related to SmartThings.

[2019-11-13 01:23] sunghan-chang commented on #4019
@HotCodeworker Thank you for confirmation. Let's close this.
@ChinaTizenRT Thank you for checking.

[2019-11-13 01:23] #4019 closed

[2019-11-13 01:26] sunghan-chang commented on #4030
@hasw7569 Could you check this?

[2019-11-13 01:31] sunghan-chang commented on #4032
@HotCodeworker Because of missing **.flashSpec.xml* under *https://github.com/Samsung/TizenRT/tree/master/build/configs/esp32_DevKitC*, it did not work. But yesterday we merged 5d53bc45c7e93751444a27596d107df8f3b70b4d. Could you check it with latest?

[2019-11-13 01:33] sunghan-chang commented on #4033
@HotCodeworker Let me check.

[2019-11-13 01:40] hasw7569 commented on #4030
@HotCodeworker

[2019-11-13 01:43] hasw7569 commented on #4030
In my development environment, the terminal works fine without sudo permission or chmod command.

[2019-11-13 01:46] #4016 closed

[2019-11-13 01:49] sunghan-chang commented on #4015
@manishtr When we check `make applist` or `dbuild.sh applist`, it creates .appSpec file. Could you check why it does not work with Application Manager?

[2019-11-13 01:52] zhouxinhe commented on #4029
Dear HotCodeworker

Debugging with this ESP32 board on RT IDE is not supported now.
We plan to enable it in near future. Then I will notify you here when it is ready.
Sorry for any inconvenience.

[2019-11-13 01:53] sunghan-chang commented on #4029
@zhouxinhe Could you let us know the ETA?

[2019-11-13 01:57] hasw7569 commented on #4030
On my Ubuntu PC the terminal works fine without sudo permission or chmod command.
I think this problem occurred in a special environment.
Did you get a Permission denied message when you tried to open a terminal?
If not, please let me know what kind of error occurred.

[2019-11-13 02:02] zhouxinhe commented on #4029
Maybe until next weekend, is that ok?

[2019-11-13 02:03] sunghan-chang commented on #4029
@HotCodeworker Could you confirm the our schedule?

[2019-11-13 03:39] zhouxinhe commented on #4032
@sunghan-chang @HotCodeworker
yes, I fixed it in PR #4024, but please wait PR #4023 (#4024 depends on it).

[2019-11-13 04:47] sunghan-chang commented on #4031
@xixidodo Could you assign the person to check this?
@HotCodeworker Currently we support showing libraries size for GNU toolchain. But esp32's toolchain is not GNU so that we need to check it.

[2019-11-13 07:21] xixidodo commented on #4031
@HotCodeworker @sunghan-chang
Currently,  @ChinaTizenRT  is checking this now,  xtensa toolchain is not same, we need to check why stat is not retrieved.

[2019-11-13 09:39] HotCodeworker commented on #4029
When it is available the next week, I'll try the debug function again.

[2019-11-13 09:45] HotCodeworker commented on #4030
I got a Permission denied message when you tried to open a terminal without sudo permission or chmod command. So I solve it with sudo and chmod command apart not from on RT IDE but from terminal. However, it's very inconvient for us, I think.

[2019-11-13 10:20] hasw7569 commented on #4030
What is the first permission on ttyUSB0 before you enter the chmod command?

[2019-11-13 10:39] hasw7569 commented on #4030
I think that this link will help you

[https://github.com/Samsung/TizenRT/blob/master/build/configs/artik053/README.md#environment-set-up]

Environment Set-up -> Environment Set-up

[2019-11-13 14:15] HotCodeworker commented on #4030
@hasw7569 Thanks for your reply, it'll help for me.

[2019-11-14 01:22] sunghan-chang commented on #4030
@HotCodeworker Thank you for good suggestion. Let us check to register USB rule automatically.

[2019-11-14 07:17] sunghan-chang commented on #4033
@HotCodeworker There are two issues.
1. Not configured for ESP32_DevKitC
  Because of incorrect os/dbuild.sh, that board is not configured.
  We check the modification and it works well. We will make a PR soon.
2. IDE issue
  There are three ways to build in IDE, ICON, "build project" menu at project explorer and "build project" at menu.
  There is no problem with ICON. It works well.
  But both "

[2019-11-14 09:57] sunghan-chang commented on #4033
1st issue was resolved. #4046

[2019-11-14 11:20] ChinaTizenRT commented on #4031
@HotCodeworker, internally job is done for this feature, after review, patch will be released.

[2019-11-15 09:02] dkdwivedi commented on #4015
launching Application manager creates same .appSpec file as generated by `make applist`

[2019-11-15 11:31] sunghan-chang commented on #4015
@dkdwivedi Thank you for helping.
@HotCodeworker  This is resolved with https://github.com/Samsung/TizenRT/commit/572d61278e226b5e32e3a8cdd244fd9fd1bd0ce8. After checking Application Manager on IDE, let you know at next Monday.

[2019-11-18 04:55] sunghan-chang commented on #4015
@HotCodeworker
1. Application Manager is working now with latest commit.
2. As you said, debug feature is under implementation. Let's talk it in #4029 .

Currently kerne config and application manager are working well. Let's close this and when you have a problem, let me know. Thank you for the issue.

[2019-11-18 04:55] #4015 closed

[2019-11-18 05:13] sunghan-chang commented on #4032
@HotCodeworker Both #4023 and #4024 were merged.
@zhouxinhe Could you confirm the functionality of flash using IDE with latest?

[2019-11-19 01:49] zhouxinhe commented on #4032
@HotCodeworker @sunghan-chang
Dear, I tested the functionality of flash using IDE with latest code, it's working fine.

[2019-11-19 02:04] zhouxinhe commented on #4029
@HotCodeworker
I just raised PR #4042 to fix this issue.
Please read the PR description before you trying it.

[2019-11-19 12:28] sunghan-chang commented on #4032
@zhouxinhe Thank you for confirmation.
@HotCodeworker Flashing is working with latest code on IDE. Let's close this issue now. If you have any issue again, please kindly reopen the issue.

[2019-11-19 12:28] #4032 closed

[2019-11-19 12:38] sunghan-chang commented on #4033
2nd will be patched soon on IDE side. (This is an issue on usage. As of now, there is no problem to build with any way.)

[2019-11-21 08:30] sunghan-chang commented on #4031
@HotCodeworker PR #4048 , commit 2f58ee7cd74970f7a4ccbb7fa6869e5a8168219a was merged. With latest codes, it prints libraries information. If you have any issue on it, please let us know.

[2019-11-21 08:30] #4031 closed

[2019-11-21 11:25] sunghan-chang commented on #4014
@HotCodeworker In prerequisites of Tizen Studio, we added the **NOTE** to say above.
https://developer.tizen.org/development/tizen-studio/download/prerequisites

If you have any problem to use RT IDE, please let us know.

[2019-11-21 11:25] #4014 closed

[2019-11-21 11:51] dr-venkman commented on #3850
@ck11a
Thank you for your comments, we have addressed most of them in pull request #4028 . Do let us know if you have further comments.

[2019-11-25 06:06] sunghan-chang commented on #4033
@HotCodeworker This issue was resolved. Let me summarize this issue.
- Issue : build break like above
- Reason
    1. Configuration is not done because of the error in dbuild script. (ESP32_DevKitC is not recognized). #4046 in TizenRT source code have resolved.
    2. All of build methods, using icon (shortcut), build project at project explorer window and build project at menu, does not give the

[2019-11-25 15:25] HotCodeworker opened #4073 "How to install or update tizenRT IDE ?"
I'd like to use the latest tizenRT IDE with latest codes on ESP32 board. please let me know how to update existing old RT IDE with the latest.

[2019-11-25 15:42] HotCodeworker opened #4074 "Batch build project - Error !"
On RT IDE, I just built the sources after doing "git pull" with latest codes, then the build error occured as follows:

-------------------------------------------------------------------------------------
make[1]: Leaving directory '/root/tizenrt/os/net'
make[1]: Entering directory '/root/tizenrt/os/kernel'
CC:  init/os_start.c
In file included from /root/tizenrt/os/include/tinyara/binfmt/binfmt.

[2019-11-25 15:48] HotCodeworker commented on #4074
I just solved it.

[2019-11-25 15:48] #4074 closed

[2019-11-26 02:44] sunghan-chang commented on #4073
@manishtr  Could you let us know how to do it?

[2019-11-26 11:51] manishtr commented on #4073
Please follow the below steps,
Step 1: Launch the package manager from ~/tizen-studio/package-manager/package-manager.bin
Step 2: Click on the setting icon on the top right (middle button amont ? O and i)
Step 3: Paste the following in the Package Repository  http://10.113.138.168/srib-packages
Step 4: Select Distribution as develop and click OK.
Step 5: Install RT IDE. This should install the upd

[2019-11-26 12:03] #322 closed

[2019-11-26 12:04] #480 closed

[2019-11-26 12:04] #1001 closed

[2019-11-26 12:05] #1724 closed

[2019-11-26 12:05] #2170 closed

[2019-11-26 12:37] manishtr commented on #4073
Latest RT Ide version is 3.5, it can be taken from https://developer.tizen.org/development/tizen-studio/download

[2019-11-26 12:39] sunghan-chang commented on #4073
@HotCodeworker Here is the guidance of updating Tizen Studio.
https://developer.tizen.org/development/tizen-studio/download/installing-tizen-studio/updating-tizen-studio
It might be an answer about your query.

[2019-11-27 11:32] sunghan-chang commented on #4030
@HotCodeworker We added the functionality that registers the USB rule in dbuild script. Please find #4063 . You can use it on IDE as well as on CLI. It adds the `USBrule` option in download step. When you select it, it checks whether USB rule is registered or not, if it isn't, it registers automatically.
Because some developer does not like changing his env by us, we provide it as an option.
If yo

[2019-11-28 18:17] HotCodeworker commented on #4073
@sunghan-chang Thanks for your reply and it was helpful then I just checked if there is no update of the RT IDE than the current on package-manager. In addition, the current version is just 3.5.

[2019-11-29 08:51] sunghan-chang commented on #4073
@HotCodeworker Yeah, v3.5 is current version of IDE. With next version, build issue which is mentioned in #4033  will be resolved.
You can check #4032 , #4031 , #4019 , #4015 issues with latest TizenRT source codes, not change in IDE side.
We made a NOTE to notice the version of JAVA in prerequistes page of Tizen Studio for #4014  .

[2019-11-29 08:53] sunghan-chang commented on #4073
@HotCodeworker Before new IDE, please configure first and then build TizenRT or use shotcut icon.
Because of missing build configuration, you met #4033 issue.

[2019-11-29 08:55] sunghan-chang commented on #4073
@HotCodeworker Sorry I gave you wrong information. v3.5 is right what I said. Let me check it first.

[2019-12-02 11:42] sunghan-chang commented on #4073
Modified version is not released yet. It could be end of this week or next week. v3.5 was released at Oct. 31th. Our change was merged at Nov. (I confused Oct and Nov) When new one is released, I will let you know.

[2019-12-04 06:30] sunghan-chang commented on #3850
@ck11a We merged your  comments. When you have any update, please open the issue or create the PR. Thank you for supporting.

[2019-12-04 06:30] #3850 closed

[2019-12-04 06:31] #4030 closed

[2019-12-16 06:17] sunghan-chang commented on #4033
@HotCodeworker We've checked the functionality with 3.6 Tizen Studio. It works well. If you have any question, please let us know.

[2019-12-16 06:17] #4033 closed

[2019-12-20 06:15] sunghan-chang commented on #4073
@HotCodeworker As I left at another issue, Tizen Studio v3.6 was released. It works well what you left issues except debugging on ESP32. If you don't have any problem, let's close this issue as well.
cf) debugging issue on ESP32 could be treated on #4029 .

[2019-12-30 00:28] #4073 closed

[2020-01-07 06:34] sunghan-chang commented on #3258
@sijupunnnoose @sangam-swami @thapav Could you check this?
As Benix said, we could set the value automatically. We don't want to set several points for the same value. If we apply auto-setting or auto-generate, we need to update the doc for porting protected build.

[2020-01-15 04:37] sunghan-chang commented on #3258
@thapav Could you let me know the status of this request?

[2020-02-04 04:13] leemgs opened #4184 "Does Tizen RT support ARM Cortex-M4?"
Recently, I checked the board and ARM CPU list that are supported by Tizen RT at the below webpage. When I try to use ARM Cortex-M4 and 256Kb RAM, does Tizen RT support this hardware? Or, Do you have a plan to append the CPU list such as ARM Cortex-M4?

* https://github.com/Samsung/TizenRT#supported-board--emulator
   * ARTIK053
   * ARTIK053S
   * ARTIK055S
   * CY4390X
   * ESP32-DevKitC
   * ES

[2020-02-05 13:58] sunghan-chang commented on #4184
Hello @leemgs .
CortexM4 is the ARM v7m family so that you can use the hardware you said with current source codes. For your information, stm series we support have CM4.

[2020-02-07 05:05] sunghan-chang commented on #3258
@btheosam @kishore-sn pushed the change, PR #4183 . Thank you.

[2020-02-07 05:05] #3258 closed

[2020-02-17 10:01] #4184 closed

[2020-03-04 09:59] RedCarrottt opened #4219 "Failed to connect to Wi-fi AP on Artik 053"
Hello, I want to use Wi-fi on my Artik 053(SIP-0P5WRS302).

I built Tizen RT of version fb5049d72ac388753935cd3a8f8e0e6c1c047716 with following build config (using `os/dbuild.sh menu`).
* board: artik053
* configuration: nettest

However, after downloading the Tizen RT on my Artik 053, it fails to connect to my access point (without any passphrase) and it results in rebooting.
* SSID: redc
* SECUR

[2020-03-18 02:07] RedCarrottt commented on #4219
When I connected my Artik 053 to USB 2.0 port, this error occured.
**After connecting it to USB 3.0 port, the error disappears and it works well.**

I guess that the power supply through USB 2.0 port was not sufficient.

However, it is problem that any error message or caution message does not appear in this situation.
**Is there any schedule to implement printing caution message on the low-power

[2020-03-18 11:26] sunghan-chang commented on #4219
@RedCarrottt I am sorry but ARTIK053 chipset vendor announced not to support and it is difficult to get the register information for that. There is no plan to do something for ARTIK053.

[2020-03-18 12:48] RedCarrottt commented on #4219
@sunghan-chang I see.
Then, what is the main target device of Tizen RT nowadays?
I want to use IoT.js and IoTivity with Tizen RT.
Is there any proper target device that I can use?

Thank you.

[2020-03-24 03:55] sunghan-chang commented on #4219
@RedCarrottt I am so sorry for late reply but I was in vacation. Recently we used I. MX RT 10X0 boards. When you configure what you want, please feel free to contact us.

[2020-03-24 05:16] RedCarrottt commented on #4219
@sunghan-chang Okay I see. Thank you.

Since my issue is resolved, I close this issue.

[2020-03-24 05:16] #4219 closed

[2020-03-29 06:12] Boooooots opened #4243 "ERROR: arch/arm/Kconfig"
There is a spelling error at line 194: 	not 'defaut n' , should be 'default n'

[2020-03-29 23:31] sunghan-chang commented on #4243
@Boooooots You're right. Thank you for information. Will you raise a PR for it or do you want to modify by ourself?

[2020-03-30 03:52] sunghan-chang commented on #4243
@Boooooots I've made the PR for this. Thank you for the issue.

[2020-03-30 05:56] sunghan-chang commented on #4243
@Boooooots It was merged. When you have another issue, please fill free to contact us. Thank you.

[2020-03-30 05:56] #4243 closed

[2020-06-23 10:35] jerryyyq opened #4325 "how to capture playback sound use tinyalsa?"
I want capture playback sound on ubuntu and android.
I call pcm_open()  and  pcm_readi()  and I try:
mixer_get_ctl_by_name(mixer, "Loopback Mixing");
mixer_ctl_set_enum_by_string(ctl, "Enabled");

But, allways record wav from MIC, not from playing sound.
How to do I can?
Thank you very much.

-------------- My sound card Device Info: ------------------------
[code]

[2020-06-24 05:07] jsdosa commented on #4325
@jerryyyq
i think, you should ask to tinyalsa repo.
If you are testing on TizenRT, we will support the issue.

[2020-06-24 09:01] jerryyyq commented on #4325
dear jsdosa,
My Developer system is ubuntu, after my test OK, I will port to TizenRT,
so, can you give me some advise？ thank you very much.

[2020-06-24 09:07] Taejun-Kwon commented on #4325
I think you tested pure tinyalsa on your ubuntu.
Tinyalsa in TizenRT is just brought signature of each function, to improve portability.
To use TizenRT, currently you need some specific device which i2s pin to connect dsp chip.
Will you develop embedded board?

[2020-06-26 09:04] jerryyyq commented on #4325
Yes, I developer for  RK3288   RK 3399 and sdm845, these are ARM CPU, 32 or 64.

[2020-07-04 06:43] weixiongmei opened #4351 "Compile failed when adding iotjs external lib for ESP32"
Compile failed when adding iotjs external lib for ESP32, event trying to add the xtensa to the target-arch still failed. Please help~ Thanks
[code]

Errors
[code]

[2020-07-05 22:57] sunghan-chang commented on #4351
@weixiongmei Thank you for the issue. Let me check.

[2020-07-06 08:38] sunghan-chang commented on #4351
@weixiongmei Sorry but it needs to be supported by iotjs. That is difficult to be done by us.

[2020-07-06 08:45] sunghan-chang commented on #4351
@haesik If possible, could you share the plan to support xtensa architecture with esp32 board on IoT.js project?

[2020-07-06 23:24] weixiongmei commented on #4351
@sunghan-chang, I had have port all the ESP32 drivers for Jerryscript, but I couldn't get any success for the iotjs, because I'm not familiar with CMAKE, if anyone can help to get a successful compilation for ESP32, I can help to port all the drivers for it.

[2020-07-08 08:36] Taejun-Kwon commented on #4325
It is very hard to help you , it is has depedency with dsp & platform.
So you can't hear your captured sound after capturing?
But I think first you'd better check your volume first.

[2020-07-08 10:45] jerryyyq commented on #4325
I can hear the sound when I type: aplay -D 0 xxxx.wav.
now, I want captured the wav of playbacked on soundcard,
so, I need some api to hook wav data from soundcard 0.
so, which api I can call them, example like: pcm_hook....... ?
thank you very much.

[2020-07-10 06:01] sunghan-chang commented on #4351
@weixiongmei Sorry for late reply. Could you let us know your usages of  iotjs? We are working on micropython so that we could manage this. But I can't guarantee it on iotjs.

[2020-07-23 17:16] DevNaga opened #4399 "ARTIK055s programmer's manual"
Hello,

I am an owner of the ARTIK055s EVal board. I would require a programmer's manual. I have been looking over the google information relevant to Artik and it does seem that you have closed Artik business - however, i would like to have the programmer's manual in handy for reference purposes. Your Artik.io website does not function - so reaching out here for the help - could you let me know th

[2020-07-24 11:46] sunghan-chang commented on #4399
Hello @DevNaga .
Thank you for the issue. We are Samsung but TizenRT is managed in different business division.
ARTIK is just one of chip we support and we don't manage ARTIK itself. Let me leave a query to who managed (but he does not manage ARTIK now).
@JunhwanPark Hello. Is this possible to support?

[2020-07-24 11:47] #2542 closed

[2020-07-24 11:59] DevNaga commented on #4399
Hello @sunghan-chang  thank you. I really look forward to get a hold of the programmer's manual (aka. register definitions, i/o interfaces, module definitions etc and the schematics of the Artik 055s). I am still developing software for hobby and learning purposes - so please let me know the next steps.

[2020-07-24 13:13] sunghan-chang commented on #4399
@DevNaga Let's wait his response first.

[2020-07-27 00:41] JunhwanPark commented on #4399
Hi @DevNaga Nice to e-meet you. (@sunghan-chang long time no see~ )
artik.io has stopped, and now the artik document cannot be found. I will find out if I have it.

[2020-07-27 16:10] DevNaga commented on #4399
Hello @JunhwanPark  Thank you nice to e-meet you as well. If found, could you please pass me at devendra(dot)aaru(at)gmail(dot)com ?

[2020-07-28 00:29] JunhwanPark commented on #4399
@DevNaga Maybe @sunghan-chang will help you. I gave him the documents from artik.io.
Thx for your interest. :+1:

[2020-07-30 08:33] sunghan-chang commented on #4399
Hello @DevNaga .
I tried to upload them into our repository but I can't do that with over 1MB size.
And because of company security, we can't send a mail to outside.
Let me find the way.

[2020-07-30 12:58] DevNaga commented on #4399
Hello @sunghan-chang,

i created a private repo here : https://github.com/DevNaga/ARTIK055s_manual_Samsung.

Added you here. You could upload file here. Hope this is right approach.

[2020-08-03 09:03] sunghan-chang commented on #4399
@DevNaga There is a problem to upload some size of files. That's not our repository setting so that it's the same in yours. I googled and did what they suggested, but it did not work. Let me check it more.
FYI
[code]

[2020-08-05 14:50] irsanvanwel opened #4424 "ESP32 Fails to boot: both esp32_DevKitC/tash_wlan and esp32_DevKitC/hello_with_tash configs"
Hi Everyone,

Awesome project! Really keen to get it running but I never get into `TASH`.

Please see the output on the Esp32 below:
[code]
The `hello_with_tash` example doesn't boot either, never get to see the `TASH` console.

Am I missing something?

[2020-08-06 07:08] irsanvanwel commented on #4424
@jeongarmy @jeongchanKim Just some extra information: this is only happening on `Master` and `v3.1_PRE`. `3.0_GBM` is working fine, so this seems to be a regression caused by changes since then. I am going to compare the differences somewhere the coming days. Let me know if there is any particular area I should focus on. Also feel free to let me know if there is anything I can assist with.

[2020-08-10 11:14] sunghan-chang commented on #4399
@DevNaga Sorry for much delay. Could you find them in https://github.com/Taejun-Kwon/TizenRT/tree/artik_doc/build/configs/artik055s?

[2020-08-11 06:18] DevNaga commented on #4399
@sunghan-chang  i try to download the pdfs.. but all are damaged when i try to open them in Adobe viewer. the firefox viewer dont work as well.

[2020-08-28 11:40] Kashyapkoshti commented on #4424
rst:0x10 (RTCWDT_RTC_RESET),boot:0x1f (SPI_FAST_FLASH_BOOT)
flash read err, 1000
ets_main.c 371

I am getting this error in my esp32 devkit v1
How to solve it?
I am using arduino IDE for programming the esp32

[2020-11-24 10:40] HarishSRIB opened #4624 "Does tizenrt support fpclassify ?"
I am porting a library that is developed on Linux platform to TizenRT platform. I am getting an undefined linker error to fpclassify method. Does any body know what is the problem here ? Does it need any configuration variable to enabled ?

BTW  I am using gcc-arm-none-eabi-9-2019-q4-major tool chain to build.

[2020-11-24 11:15] jeongchanKim commented on #4624
Hello @HarishSRIB . Which config do you use now?
And as my checking, `fpclassify` is in cpp. Did you enable cpp also?

[2020-11-24 13:19] HarishSRIB commented on #4624
@jeongchanKim, could you please elaborate more on enabling cpp. Is there a dedicated config variable to enable cpp in the config file?

[2020-11-24 14:24] sijupunnnoose commented on #4624
@HarishSRIB please discuss with @sangam-swami for more details. He would help you with CPP enablement.  Please share which board/config you are trying to build for.

[2020-11-30 11:19] sunghan-chang commented on #4624
@HarishSRIB @sangam-swami Is there any update on this?

[2020-12-04 12:04] HarishSRIB commented on #4624
@sunghan-chang, I got busy with some other project deadlines.

[2020-12-09 19:34] sangam-swami commented on #4624
The current fpclassify issue in MTK board is because cpp is not ported to MTK board.
@HarishSRIB you can use below options.
1. I checked by disabling the fpclassify call in your code base, it got compiled and created tinyara.bin.

[2021-01-22 02:33] reastykim opened #4759 "Build failed for QEMU"
Configure and build with QEMU, an error occurs in chip/lm3s_ethernet.c.

The error details are as follows.

`CC:  chip/lm3s_ethernet.c
chip/lm3s_ethernet.c: In function 'tiva_transmit':
chip/lm3s_ethernet.c:496:22: error: 'struct netif' has no member named 'd_buf'
   dbuf = priv->ld_dev.d_buf;
                      ^
chip/lm3s_ethernet.c: In function 'tiva_receive':
chip/lm3s_ethernet.c:585:22: er

[2021-04-12 12:49] #4624 closed

[2021-12-22 09:10] pillip8282 opened #5379 "lwIP mbox synchronization issue"
# Get a wrong event caused by sharing common variable.

## Description
To signal both empty and full event  of mbox, it uses same variable mail. However following specific case, it can send wrong event to the Task.

## Issue procedure
1) Task A called mbox_fetch. But there is no data in mbox, task A waits an event with mbox->mail
2) Task B called mbox post. And call sys_arch_sem_signal(mbox->mail)

[2021-12-22 09:30] pillip8282 opened #5380 "lwIP mbox synchronization issue"
# lwIP mbox synchronization issue

## Description
mbox uses wait_send and wait_fetch to check that there is task which waits an event. It doesn't occur often, but problems can arise in special scenario.

## Procedure
1) Task A tried to fetch an data from mbox with timeout
2) If mbox is empty then Task A increase wait_fetch with mutex protection
3) Task A releases mutex and sys_arch_sem_wait(mail,

[2022-04-24 04:46] madmax440 commented on #4399
@sunghan-chang thanks anyways.. i still do not have documentation even after 2 years. It does seem few units are still on sale in amazon etc. It would be great if Samsung does not kill the documentation this fast next time when they fail.

[2022-08-15 17:41] madmax440 opened #5602 "Unusable source tree"
Hi,

I am facing a lot of difficulties in compiling firmware image for Artik055s.

So far i am following the manual setup. Below are my build steps.

[code]

After step 5, build fails at various places in master. I have tried to resolve one by one but there seem too many build failures.

Can someone help?

Thanks

[2022-08-16 00:23] sunghan-chang commented on #5602
@madmax440 Hello. Sorry for inconvenience.
@jeongarmy Could you check it?

[2022-08-16 07:29] jeongarmy commented on #5602
@sangwon03 As I checked, many build errors about network configurations happens. Could you please check this?

[2022-08-27 08:18] madmax440 commented on #5602
Hello,

With master at  bca7d1a811b8fe303da53e7492c25a1b4e9505c8 i still have the below build error.

[code]

[2022-09-02 04:44] UVScan opened #5626 "Security: Privacy leakage in function cyassl_connect_step2()"
# Affected components

affected source code file: external/curl/vtls/cyassl.c

# Attack vector(s)

Missing X509_free() after SSL_get_peer_certificate().
The X509 object must be explicitly freed using X509_free().

# Suggested description of the vulnerability for use in the CVE

Privacy leakage vulnerability in cyassl_connect_step2() function in Samsung Electronics TizenRT latest version (and earli

[2022-09-02 04:54] UVScan opened #5627 "Security: Privacy leakage in function cyassl_connect_step2()"
# Affected components

affected source code file: external/iotivity/iotivity_1.2-rel/resource/csdk/security/provisioning/src/provisioningdatabasemanager.c

# Attack vector(s)

Missing sqlite3_close after sqlite3_open_v2.
Whether or not an error occurs when it is opened, resources associated with the [database connection](https://www.sqlite.org/c3ref/sqlite3.html) handle should be released by passi

[2022-09-02 04:59] UVScan opened #5628 "Security: DoS vulnerability in function createDB()"
# Affected components

affected source code file: external/iotivity/iotivity_1.2-rel/resource/csdk/security/provisioning/src/provisioningdatabasemanager.c

# Attack vector(s)

Missing sqlite3_free after sqlite3_exec.
To avoid memory leaks, the application should invoke [sqlite3_free()](https://www.sqlite.org/c3ref/free.html) on error message strings returned through the 5th parameter of sqlite3_ex

[2022-09-02 05:37] UVScan opened #5629 "Security: Malfunction in function l2_packet_receive_timeout()"
# Affected components

affected source code file: external/wpa_supplicant/src/l2_packet/l2_packet_pcap.c

# Attack vector(s)

Lacking a check for the return value of pcap_dispatch.
pcap_dispatch() returns the number of packets processed on success; this can be 0 if no packets were read from a live capture (if, for example, they were discarded because they didn't pass the packet filter, or if, on p

[2022-10-24 05:52] hasw7569 opened #5684 "How can I use GMock external library in sample apps ?"
Hello, TizenRT : )

I'm trying to add external library codes to TizenRT and I want to use `Gtest` to verify this codes.
But I'm facing a lot of difficulties.

now, I have a `TP1X` board.
So I tested my external codes in `helloxx_main.cxx` sample app with `TP1X`

I succeeded in adding a new external library and using it in the `helloxx_main.cxx`
But I can't use `GMock` external library in `helloxx_

[2022-11-03 03:02] #5684 closed